html {
	color: #444;
	background-color: #FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,th,var,b,i,s {
	font-style: normal;
	font-weight: normal
}

li {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

q:before,q:after {
	content: ''
}

input,textarea,select,button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit; #
	font-size: 100%
}

legend {
	color: #000
}

input[type=search] {
	-webkit-appearance: none
}

a img,a span,a strong,a s { #
	cursor: pointer
}

body,button,select,textarea,input {
	font-family: \5FAE\8F6F\96C5\9ED1, Tahoma, Verdana;
	font-size: 12px;
	color: #444
}

.os_xp body,.os_xp button,.os_xp select,.os_xp textarea,.os_xp input {
	font-family: Tahoma, Verdana
}

.os_win7,.os_win7 body,.os_win7 button,.os_win7 select,.os_win7 textarea,.os_win7 input
	{
	font-family: \5FAE\8F6F\96C5\9ED1, Tahoma, Verdana
}

.os_mac body,.os_mac button,.os_mac select,.os_mac textarea,.os_mac input
	{
	font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande",
		"Hiragino Sans GB", "Hiragino Sans GB W3"
}

button {
	white-space: nowrap;
	overflow: visible
}

a,a:link {
	color: #444;
	text-decoration: none
}

a:hover {
	color: #317EE7;
	text-decoration: underline
}

a:focus {
	outline: none
}

.hide_clip {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	line-height: 0 !important;
	width: 1px !important;
	overflow: hidden
}

.clearfix { #
	zoom: 1;
	clear: both
}

.clearfix:before,.clearfix:after {
	display: block;
	content: ".";
	height: 0 !important;
	line-height: 0 !important;
	visibility: hidden
}

.clearfix:after {
	clear: both
}

body .main {
	font: 12px/18px Arial, Simsun, Helvetica
}

.yx_wrap {
	width: 985px;
	margin: 0 auto;
	padding: 0 5px;
	text-align: left
}

.youboy3c_1280 .yx_wrap {
	width: 1225px
}

.price_ago {
	text-decoration: line-through
}

.rank,.rank_inner {
	display: inline-block;
	width: 63px;
	height: 12px;
	font-size: 0;
	background:
		url(../../resource/images/index_floor_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -65px -289px
}

.rank_inner {
	float: left;
	background-position: left -289px
}

.dot_fen,.dot_zhe,.dot_zeng,.dot_jian,.dot_juan,.dot_fan,.dot_hua {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background:
		url(../../resource/images/index_floor_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left -303px
}

.dot_zhe {
	background-position: -18px -303px
}

.dot_zeng {
	background-position: -36px -303px
}

.dot_jian {
	background-position: -54px -303px
}

.dot_juan {
	background-position: -72px -303px
}

.dot_fan {
	background-position: -90px -303px
}

.dot_hua {
	background-position: -108px -303px
}

.yx_stock {
	padding-top: 0;
	height: 18px;
	color: #717076
}

.yx_stock .yx_stock_zero,.yx_stock .yx_stock_less,.yx_stock .yx_stock_enough
	{
	overflow: hidden;
	display: inline-block;
	width: 51px;
	height: 5px;
	border: 1px #BCBCBC solid;
	background-color: #BCBCBC
}

.yx_stock .yx_stock_less {
	border-color: #F13B3B;
	background-color: #F13B3B
}

.yx_stock .yx_stock_enough {
	border-color: #A3D392;
	background-color: #A3D392
}

.yx_stock .yx_stock_inner {
	display: inline-block;
	float: right;
	width: 0;
	height: 5px;
	background-color: #fff;
	-moz-transition: width 1s ease-in-out .5s;
	-webkit-transition: width 1s ease-in-out .5s;
	-o-transition: width 1s ease-in-out .5s;
	transition: width 1s ease-in-out .5s
}

.yx_head {
	position: relative;
	height: 93px;
	font-family: Tahoma;
	z-index: 901
}

.yx_head_mini {
	height: 63px
}

.yx_head .logo {
	position: absolute;
	top: 16px;
	left: 5px;
	overflow: hidden;
	width: 241px;
	height: 53px
}

.yx_head .logo .logo_bd {
	display: block;
	float: left;
	width: 241px;
	height: 53px;
	background:
		url(../../resource/images/yx_head_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left top
}

.yx_head .search {
	position: absolute;
	top: 26px;
	right: 286px;
	width: 332px
}

.youboy3c_1280 .yx_head .search {
	right: 325px;
	width: 412px
}

.yx_head .search_bd {
	overflow: hidden;
	height: 32px;
	margin-bottom: 3px;
	background-color: #317EE7
}

.yx_head .search_bd input {
	float: left;
	overflow: hidden;
	width: 239px;
	height: 24px;
	margin: 3px 0 0 3px;
	padding-left: 6px;
	line-height: 24px;
	border: none;
	border-top: 1px #C2C0C0 solid;
	border-left: 1px #CAD7E9 solid;
	color: #999;
	background-color: #fff;
	font-family: Tahoma
}

.youboy3c_1280 .yx_head .search_bd input {
	width: 319px
}

.yx_head .search_bd input:focus {
	color: #333
}

.yx_head .search_bd .search_submit {
	_float: left;
	width: 81px;
	height: 32px;
	border: none;
	background:
		url(../../resource/images/yx_head_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left -55px #317EE7;
	cursor: pointer
}

.yx_head .hot_keywords {
	z-index: 1;
	overflow: hidden;
	height: 16px
}

.yx_head .hot_keywords a {
	margin-left: 10px
}

ul.autocomplete {
	z-index: 901
}



.yx_head .area_change_noarrow .dot_change {
	display: none
}

.yx_head .area_change_noarrow .change:link,.yx_head .area_change_noarrow .change:visited,.yx_head .area_change_noarrow .change:hover,.yx_head .area_change_noarrow .change:active
	{
	width: 31px;
	padding-right: 0;
	background-color: #fff;
	color: #317EE7;
	cursor: default
}

.yx_head .jump_city {
	display: none;
	position: absolute;
	top: 0;
	left: 42px;
	width: 150px;
	border: 1px solid #317EE7; #
	zoom: 1;
	z-index: 1;
	background-color: #FFF
}

.yx_head .area_change_hover .jump_city {
	display: block
}

.yx_head .jump_city .city { #
	zoom: 1;
	overflow: hidden;
	padding: 3px 15px 5px 15px;
	line-height: 16px
}

.yx_head .jump_city .city li {
	float: left;
	padding-right: 10px
}

.yx_head .jump_city .city li a {
	display: inline-block;
	width: auto;
	height: auto;
	line-height: 16px;
	color: #317EE7;
	zoom: 1;
	vertical-align: middle
}

.yx_head .jump_city .nor {
	clear: both;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background-color: #f2f2f2;
	color: #999
}

.yx_head .jump_city .nor .piont {
	padding-right: 5px
}

.yx_head .jump_city .load {
	padding: 14px 29px;
	display: none
}

.yx_head .jump_city .load .loading_82_21 {
	display: inline-block;
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 9px;
	_display: inline
}

.yx_head .jump_city .f {
	padding: 14px 5px;
	display: none;
	text-align: center
}

.yx_head .jump_city .f .icon {
	padding-right: 4px
}

.yx_head .jump_city .f a {
	position: static;
	display: inline;
	float: none;
	width: auto;
	height: auto;
	line-height: 18px;
	margin: 0;
	padding: 0
}

.yx_nav { #
	position: relative;
	z-index: 900;
	width: 100%;
	height: 30px;
	background-color: #317EE7
}

.yx_nav .yx_cate {
	position: relative;
	float: left;
	width: 200px;
	height: 30px
}

.yx_nav .yx_cate .cate_hd {
	_position: relative;
	width: 200px;
	height: 30px;
	margin-left: -1px;
	border-left: 1px #fff solid;
	font-weight: normal
}

.yx_nav .yx_cate .cate_hd a:link,.yx_nav .yx_cate .cate_hd a:visited,.yx_nav .yx_cate .cate_hd a:hover,.yx_nav .yx_cate .cate_hd a:active
	{
	overflow: hidden;
	display: block;
	width: 185px;
	height: 30px;
	line-height: 28px;
	line-height: 30px\9;
	padding-left: 15px;
	font-size: 18px;
	color: #fff;
	text-decoration: none
}

.yx_nav .yx_cate .cate_hd .dot_cate {
	display: inline-block;
	float: right;
	width: 13px;
	height: 13px;
	margin: 9px 7px 0 0; #
	margin-top: -23px;
	_margin-top: -21px;
	background:
		url(../../resource/images/yx_nav_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -38px -6px
}

.yx_nav .i_status_on .cate_bd {
	display: block
}

.yx_nav .cate_bd {
	z-index: 999;
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	width: 200px;
	height: 722px;
	border-bottom: 1px #317EE7 solid;
	background-color: #317EE7
}

.yx_nav .cate_bd_bj {
	height: 662px
}

.yx_nav .cate_bd_hb {
	height: 658px
}

.yx_nav .cate_bd .item {
	z-index: 2000;
	position: relative;
	height: 63px;
	border-top: 1px #468BE9 solid
}

.yx_nav .cate_bd .item_hd {
	height: 54px;
	padding: 9px 0 0 12px;
	border-left: 1px #317EE7 solid
}

.yx_nav .cate_bd .top_cate {
	overflow: hidden;
	height: 24px;
	line-height: 24px;
	color: #fff
}

.yx_nav .cate_bd .sub_cate {
	overflow: hidden;
	width: 180px;
	_width: 178px;
	height: 17px;
	line-height: 17px;
	white-space: nowrap;
	text-overflow: ellipsis
}

.yx_nav .cate_bd .dot_cate {
	float: right;
	display: inline-block;
	width: 5px;
	height: 7px;
	margin: 10px 11px 0 0; #
	margin-top: -17px;
	_margin-top: -16px;
	background:
		url(../../resource/images/yx_nav_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -53px -12px
}

.yx_nav .cate_bd .top_cate a:link,.yx_nav .cate_bd .top_cate a:visited,.yx_nav .cate_bd .top_cate a:hover,.yx_nav .cate_bd .top_cate a:active
	{
	display: block;
	float: left;
	width: 185px;
	font-size: 15px;
	color: #fff
}

.yx_nav .cate_bd .sub_cate,.yx_nav .cate_bd .sub_cate a:link,.yx_nav .cate_bd .sub_cate a:visited,.yx_nav .cate_bd .sub_cate a:hover,.yx_nav .cate_bd .sub_cate a:active
	{
	margin-right: 9px;
	font-family: Tahoma;
	color: #C2D9F8
}

.yx_nav .cate_bd .item_bd {
	display: none;
	z-index: 1000;
	position: absolute;
	top: -2px;
	left: 199px;
	width: 652px;
	min-height: 100px;
	_height: 100px;
	border: 2px #317EE7 solid;
	background:
		url(../../resource/images/yx_nav_bg.png?max_age=19830211&d=20120607184128)
		repeat-y left top #fff
}

.yx_nav .cate_bd .item_bd .list {
	float: left;
	width: 425px;
	padding: 0 13px 6px 13px
}

.yx_nav .cate_bd .item_bd dl {
	padding: 6px 0;
	border-bottom: 1px #E1E1E1 dashed
}

.yx_nav .cate_bd .item_bd .t {
	font-size: 16px;
	color: #666
}

.yx_nav .cate_bd .item_bd dt {
	float: left;
	width: 64px;
	margin: 2px 17px 0 3px
}

.yx_nav .cate_bd .item_bd dd {
	_zoom: 1;
	position: relative;
	overflow: hidden;
	line-height: 23px
}

.yx_nav .cate_bd .item_bd dd a {
	float: left;
	margin-right: 15px;
	white-space: nowrap;
	font-family: Tahoma
}

.yx_nav .cate_bd .item_bd .hot {
	_float: left;
	position: relative;
	overflow: hidden;
	_width: 161px;
	padding: 6px 20px
}

.yx_nav .cate_bd .item_bd li {
	overflow: hidden;
	width: 160px;
	height: 24px;
	padding-left: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 24px;
	font-family: Tahoma;
	background:
		url(../../resource/images/yx_nav_bg.png?max_age=19830211&d=20120607184128)
		no-repeat -671px 10px
}

.yx_nav .cate_bd .item_hover {
	border-top: 1px #317EE7 solid
}

.yx_nav .cate_bd .item_hover .item_hd {
	z-index: 3000;
	position: relative;
	width: 202px;
	background-color: #fff
}

.yx_nav .cate_bd .item_hover .item_bd {
	display: block
}

.yx_nav .cate_bd .item_hover .dot_cate {
	display: none
}

.yx_nav .cate_bd .item_hover a:link,.yx_nav .cate_bd .item_hover a:visited,.yx_nav .cate_bd .item_hover a:hover,.yx_nav .cate_bd .item_hover a:active
	{
	color: #317EE7
}

.yx_nav .cate_easy {
	border-right: 1px #317EE7 solid;
	border-left: 1px #317EE7 solid
}

.yx_nav .cate_easy .item {
	height: 29px;
	border-top: 1px #BFBFBF solid;
	background-color: #f8f8f8
}

.yx_nav .cate_easy .item_first {
	border-top: 1px #317EE7 solid
}

.yx_nav .cate_easy .item_hd {
	height: 29px;
	padding: 0 0 0 11px;
	border-left: none
}

.yx_nav .cate_easy .top_cate {
	height: 29px;
	line-height: 29px
}

.yx_nav .cate_easy .top_cate a:link,.yx_nav .cate_easy .top_cate a:visited,.yx_nav .cate_easy .top_cate a:hover,.yx_nav .cate_easy .top_cate a:active
	{
	color: #333
}

.yx_nav .cate_easy .dot_cate {
	width: 10px;
	height: 19px;
	margin-top: 6px; #
	margin-top: -24px;
	background-position: -26px top
}

.yx_nav .cate_easy .item_bd {
	left: 198px
}

.yx_nav .cate_normal,.yx_nav .cate_easy {
	_overflow: hidden;
	_width: 198px
}

.yx_nav .nav_bd {
	float: left;
	height: 30px;
	border-left: 1px #fff solid
}

.yx_nav .nav_bd li {
	position: relative;
	float: left;
	width: 70px;
	height: 30px
}

.youboy3c_1280 .yx_nav .nav_bd li {
	width: 100px
}

.yx_nav .nav_bd .dot_hot {
	position: absolute;
	top: -10px;
	right: 4px;
	display: inline-block;
	width: 17px;
	height: 18px;
	font-size: 0;
	background:
		url(../../resource/images/yx_nav_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -85px -1px
}

.youboy3c_1280 .yx_nav .nav_bd .dot_hot {
	right: 10px
}

.yx_nav .nav_bd a:link,.yx_nav .nav_bd a:visited,.yx_nav .nav_bd a:hover,.yx_nav .nav_bd a:active
	{
	display: block;
	float: left;
	_float: none;
	width: 68px;
	border-right: 1px #317EE7 solid;
	border-left: 1px #317EE7 solid;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
	text-decoration: none
}

.youboy3c_1280 .yx_nav .nav_bd a:link,.youboy3c_1280 .yx_nav .nav_bd a:visited,.youboy3c_1280 .yx_nav .nav_bd a:hover,.youboy3c_1280 .yx_nav .nav_bd a:active
	{
	width: 98px
}

.yx_nav .nav_bd .current a:link,.yx_nav .nav_bd .current a:visited,.yx_nav .nav_bd .current a:hover,.yx_nav .nav_bd .current a:active,.yx_nav .nav_bd a:hover
	{
	background-color: #FFBA00;
	border-right: 1px #fff solid;
	border-left: 1px #fff solid
}

#nav_home a:hover,#nav_home.current a,#nav_home.current a:hover {
	margin-left: -1px;
	padding-left: 1px
}
.i_cont_iframe {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	zoom: 1;
	visibility: hidden
}

.yx_foot {
	overflow: hidden;
	clear: both;
	padding-top: 40px
}

.yx_foot .mod_txtlink {
	overflow: hidden; #
	zoom: 1;
	width: 100%;
	height: 175px;
	background-color: #AFB5BE
}

.yx_foot .mod_txtlink li {
	float: left;
	width: 164px;
	height: 175px;
	margin-top: 31px;
	color: #fff
}

.youboy3c_1280 .yx_foot .mod_txtlink li {
	width: 204px
}

.yx_foot .mod_txtlink a:link,.yx_foot .mod_txtlink a:visited,.yx_foot .mod_txtlink a:hover,.yx_foot .mod_txtlink a:active
	{
	color: #fff
}

.yx_foot .mod_txtlink dt {
	overflow: hidden;
	width: 74px;
	height: 19px;
	margin-bottom: 8px
}

.yx_foot .mod_txtlink dt span {
	display: none
}

.yx_foot .mod_txtlink dd {
	margin-bottom: 3px
}

.yx_foot .mod_txtlink .payhelp {
	margin-top: -20px
}

.yx_foot .mod_txtlink .trans {
	margin-top: -41px
}

.yx_foot .mod_txtlink .term {
	margin-top: -62px
}

.yx_foot .mod_txtlink .about {
	margin-top: -82px
}

.yx_foot .mod_txtlink .contact {
	margin-top: -102px
}

.yx_foot .mod_slogan {
	overflow: hidden;
	height: 57px;
	padding-top: 25px;
	border-bottom: 1px #DFDFDF solid
}

.yx_foot .mod_slogan li,.yx_foot .mod_slogan li img {
	overflow: hidden;
	float: left
}

.yx_foot .mod_slogan li {
	width: 197px;
	height: 32px
}

.youboy3c_1280 .yx_foot .mod_slogan li {
	width: 245px;
	height: 32px
}

.yx_foot .mod_slogan .item0 {
	margin-top: -123px
}

.yx_foot .mod_slogan .item1 {
	margin-top: -157px
}

.yx_foot .mod_slogan .item2 {
	margin-top: -191px
}

.yx_foot .mod_slogan .item3 {
	margin-top: -225px
}

.yx_foot .mod_slogan .item4 {
	margin-top: -259px
}

.yx_foot .mod_copy {
	overflow: hidden;
	height: 110px;
	text-align: center
}

.yx_foot .mod_copy p {
	height: 52px;
	line-height: 52px;
	font-family: Tahoma
}

.yx_foot .mod_txtlink .qq_com:link,.yx_foot .mod_txtlink .qq_com:visited,.yx_foot .mod_txtlink .qq_com:hover,.yx_foot .mod_txtlink .qq_com:active
	{
	-webkit-text-size-adjust: none;
	overflow: hidden;
	display: block;
	width: 111px;
	height: 22px;
	margin-top: 3px;
	padding: 18px 6px 0 0;
	background:
		url(../../resource/images/yx_foot_pic.png?max_age=19830211&d=20120607184128)
		no-repeat left -545px;
	text-decoration: none;
	color: #35568b;
	font-size: 10px;
	font-family: Arial;
	font-weight: bold;
	text-align: right
}

.mod_top_banner {
	height: 35px;
	width: 100%;
	background:
		url(../../resource/images/home_bg.png?max_age=19830211&d=20120607184128)
		repeat-x 0 -300px;
	color: #333
}

.mod_top_banner a {
	color: #06c;
	text-decoration: none
}

.mod_top_banner .redf {
	color: red;
	font-weight: bolder
}

.mod_top_banner .main_area {
	width: 985px;
	margin: 0 auto;
	height: 19px;
	padding: 8px 0
}

.mod_top_banner .sale_tip {
	float: left;
	width: 575px;
	height: 19px;
	padding-left: 32px;
	background:
		url(../../resource/images/header_full.png?max_age=19830211&d=20120607184128)
		no-repeat -287px -23px;
	text-align: left
}

.mod_top_banner .login_status {
	float: right;
	height: 19px;
	text-align: right
}

.mod_top_banner .sale_tip a,.mod_top_banner .login_status a.my_caibei {
	color: #06c
}

.mod_top_banner .login_status img {
	border: none
}

.mod_top_banner .qqUser {
	height: 16px;
	float: left;
	padding-right: 5px
}

.mod_top_banner .qqUser .name {
	float: left;
	width: 230px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.mod_top_banner .my_caibei {
	padding-left: 10px;
	border-left: #add9fb 1px solid
}

.youboy3c_1280 .mod_top_banner .main_area {
	width: 1225px
}

.config_list {
	font: 12px/18px Arial, Simsun, Helvetica
}

body .main {
	margin: 10px auto 0 auto
}

body .zj_banner,body.youboy3c_1280 .zj_banner {
	margin-top: 10px
}

div.layout_3row {
	margin-top: 10px
}

.youboy3c_1280 .id_flow_password .flow_step .cols3 li {
	width: 393px
}

.property h1 {
	font-weight: 700
}

#GeneratedByCssGaga177 {
	transform: rotate(20120607184128deg)
}