html {
	color: #444;
	background-color: #FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

fieldset,img {
	border: 0
}

address,caption,cite,code,dfn,em,th,var,b,i,s {
	font-style: normal;
	font-weight: normal
}

li {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%
}

q:before,q:after {
	content: ''
}

input,textarea,select,button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit; #
	font-size: 100%
}

legend {
	color: #000
}

input[type=search] {
	-webkit-appearance: none
}

a img,a span,a strong,a s { #
	cursor: pointer
}

body,button,select,textarea,input {
	font-family: \5FAE\8F6F\96C5\9ED1, Tahoma, Verdana;
	font-size: 12px;
	color: #444
}

.os_xp body,.os_xp button,.os_xp select,.os_xp textarea,.os_xp input {
	font-family: Tahoma, Verdana
}

.os_win7,.os_win7 body,.os_win7 button,.os_win7 select,.os_win7 textarea,.os_win7 input
	{
	font-family: \5FAE\8F6F\96C5\9ED1, Tahoma, Verdana
}

.os_mac body,.os_mac button,.os_mac select,.os_mac textarea,.os_mac input
	{
	font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande",
		"Hiragino Sans GB", "Hiragino Sans GB W3"
}

button {
	white-space: nowrap;
	overflow: visible
}

a,a:link {
	color: #444;
	text-decoration: none
}

a:hover {
	color: #317EE7;
	text-decoration: underline
}

a:focus {
	outline: none
}

.hide_clip {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	line-height: 0 !important;
	width: 1px !important;
	overflow: hidden
}

.clearfix { #
	zoom: 1;
	clear: both
}

.clearfix:before,.clearfix:after {
	display: block;
	content: ".";
	height: 0 !important;
	line-height: 0 !important;
	visibility: hidden
}

.clearfix:after {
	clear: both
}

.more3c_notice,more3c_nav,more3c_foot {
	font-family: \5FAE\8F6F\96C5\9ED1, Tahoma, Verdana
}

body .main {
	font: 12px/18px Arial, Simsun, Helvetica
}

.more3c_wrap {
	width: 985px;
	margin: 0 auto;
	padding: 0 5px;
	text-align: left
}

.more3c_1280 .more3c_wrap {
	width: 1225px
}

.price_ago {
	text-decoration: line-through
}

.rank,.rank_inner {
	display: inline-block;
	width: 63px;
	height: 12px;
	font-size: 0;
	background:
		url(../../front/images/index_floor_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -65px -289px
}

.rank_inner {
	float: left;
	background-position: left -289px
}

.dot_fen,.dot_zhe,.dot_zeng,.dot_jian,.dot_juan,.dot_fan,.dot_hua {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 2px;
	background:
		url(../../front/images/index_floor_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left -303px
}

.dot_zhe {
	background-position: -18px -303px
}

.dot_zeng {
	background-position: -36px -303px
}

.dot_jian {
	background-position: -54px -303px
}

.dot_juan {
	background-position: -72px -303px
}

.dot_fan {
	background-position: -90px -303px
}

.dot_hua {
	background-position: -108px -303px
}

.more3c_stock {
	padding-top: 0;
	height: 18px;
	color: #717076
}

.more3c_stock .more3c_stock_zero,.more3c_stock .more3c_stock_less,.more3c_stock .more3c_stock_enough
	{
	overflow: hidden;
	display: inline-block;
	width: 51px;
	height: 5px;
	border: 1px #BCBCBC solid;
	background-color: #BCBCBC
}

.more3c_stock .more3c_stock_less {
	border-color: #F13B3B;
	background-color: #F13B3B
}

.more3c_stock .more3c_stock_enough {
	border-color: #A3D392;
	background-color: #A3D392
}

.more3c_stock .more3c_stock_inner {
	display: inline-block;
	float: right;
	width: 0;
	height: 5px;
	background-color: #fff;
	-moz-transition: width 1s ease-in-out .5s;
	-webkit-transition: width 1s ease-in-out .5s;
	-o-transition: width 1s ease-in-out .5s;
	transition: width 1s ease-in-out .5s
}

.more3c_notice {
	height: 28px;
	border: 1px #EEC579 solid;
	background:
		url(../../front/images/more3c_notice_dot.png?max_age=19830211&d=20120607184128)
		repeat-x left -41px #FEEFC8
}

.more3c_notice .dot_speak {
	display: inline-block;
	float: left;
	width: 21px;
	height: 17px;
	margin: 5px 10px 0 10px;
	background:
		url(../../front/images/more3c_notice_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left top
}

.more3c_notice .notice_list {
	overflow: hidden;
	position: relative;
	float: left;
	width: 400px;
	height: 28px
}

.more3c_notice .notice_list ul {
	position: absolute;
	top: 0;
	left: 0
}

.more3c_notice li {
	height: 28px;
	line-height: 27px;
	font-size: 14px;
	font-family: Tahoma
}

.more3c_notice .close:link,.more3c_notice .close:visited,.more3c_notice .close:hover,.more3c_notice .close:active
	{
	display: inline-block;
	float: right;
	width: 21px;
	height: 21px;
	margin: 3px 4px 0 0;
	background:
		url(../../front/images/more3c_notice_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left -18px
}

.more3c_top_toolbar {
	height: 30px;
	background-color: #EFEFEF;
	font-family: Tahoma;
	color: #666;
	z-index: 902
}

.more3c_top_toolbar a:link,.more3c_top_toolbar a:visited,.more3c_top_toolbar a:hover,.more3c_top_toolbar a:active
	{
	color: #666
}

.more3c_top_toolbar .more3c_wrap {
	_overflow: hidden;
	height: 16px;
	_height: 18px;
	padding-top: 6px;
	_padding-top: 4px;
	line-height: 16px;
	_line-height: 18px
}

.more3c_top_toolbar .toolbar_nav,.more3c_top_toolbar .tel {
	float: right
}

.more3c_top_toolbar .tel {
	margin-top: 1px;
	_margin-top: 2px;
	margin-left: 6px;
	color: #317EE7
}

.more3c_top_toolbar .toolbar_nav .item {
	float: left;
	padding: 0 8px;
	background:
		url(../../front/images/toolbar_dot.png?max_age=19830211&d=20120607184128)
		no-repeat right 4px;
	_background-position: right 5px
}

.more3c_top_toolbar .toolbar_nav .item_order {
	padding: 0 1px
}

.more3c_top_toolbar .toolbar_nav .last {
	background-image: none
}

.more3c_top_toolbar .toolbar_nav .loginbyqq {
	margin-left: -9px
}

.more3c_top_toolbar .toolbar_nav .loginbyqq .dot_qq {
	width: 69px;
	height: 16px;
	background-position: left -32px;
	_cursor: pointer
}

.more3c_top_toolbar .toolbar_nav .welcome {
	margin-left: 8px
}

.more3c_top_toolbar i,.more3c_top_toolbar .t_qq {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: text-top;
	_vertical-align: text-bottom;
	background:
		url(../../front/images/toolbar_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left top
}

.more3c_top_toolbar .icon_qq {
	margin-right: 2px;
	background-position: -5px -54px;
	padding: 0
}

.more3c_top_toolbar .dot_smile {
	margin-right: 5px;
	background-position: -36px -13px;
	_background-position: -71px -32px
}

.more3c_top_toolbar .dot_tel {
	background-position: -71px -14px;
	_background-position: -107px -32px
}

.more3c_top_toolbar .dot_listen {
	_vertical-align: 1px;
	background-position: -54px -13px;
	_background-position: -89px -32px
}

.more3c_top_toolbar .dot_arrowdown {
	position: absolute;
	top: 0;
	right: 3px;
	background-position: -89px -13px
}

.more3c_top_toolbar .menu_hover .dot_arrowdown {
	background-position: -105px -13px
}

.more3c_top_toolbar .t_qq {
	_vertical-align: -2px;
	margin-left: 4px;
	background-position: left -14px
}

.more3c_top_toolbar .t_sina {
	background-position: -18px -14px
}

.more3c_top_toolbar .menu { #
	z-index: 1000;
	position: relative;
	margin-top: -1px
}

.more3c_top_toolbar .menu_hd:link,.more3c_top_toolbar .menu_hd:visited,.more3c_top_toolbar .menu_hd:hover,.more3c_top_toolbar .menu_hd:active
	{
	_overflow: hidden;
	z-index: 1200; #
	float: left;
	position: relative;
	display: block;
	padding: 0 20px 0 8px;
	border: 1px transparent solid;
	_border: 1px #EFEFEF solid;
	border-bottom: none;
	background-color: #EFEFEF
}

.more3c_top_toolbar .menu_bd {
	display: none;
	z-index: 1100;
	position: absolute;
	top: 18px;
	_top: 20px;
	left: 0;
	_left: -54px;
	background-color: #fff;
	border: 1px #D0D0D0 solid
}

.more3c_top_toolbar .item_order .menu_bd {
	_left: -78px
}

.more3c_top_toolbar .item_login_distributor .menu_bd {
	_left: -90px
}

.more3c_top_toolbar .mod_login {
	width: 383px
}

.more3c_top_toolbar .mod_login .mod_login_bd,.more3c_top_toolbar .mod_login .mod_login_other
	{
	float: left;
	width: 177px;
	padding: 13px 0 0 20px;
	border-right: 1px #D0D0D0 dashed
}

.more3c_top_toolbar .mod_login .mod_login_other {
	width: 165px;
	border-right: none
}

.more3c_top_toolbar .mod_login dt {
	padding-bottom: 10px
}

.more3c_top_toolbar .mod_login dd {
	overflow: hidden;
	height: 20px;
	margin-bottom: 9px
}

.more3c_top_toolbar .mod_login label {
	display: inline-block;
	width: 38px;
	line-height: 19px
}

.more3c_top_toolbar .mod_login input {
	overflow: hidden;
	width: 105px;
	height: 16px;
	padding: 0 1px;
	line-height: 16px;
	background-color: #fff;
	border: 1px #D0D0D0 solid
}

.more3c_top_toolbar .mod_login .status_error {
	border: 1px #F08709 solid
}

.more3c_top_toolbar .mod_login .error {
	height: 16px;
	margin-bottom: 5px;
	color: #F08709
}

.more3c_top_toolbar .mod_login .error .dot_error {
	vertical-align: text-top;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 2px 3px 0 0;
	background:
		url(../../front/images/icon12x12.png?max_age=19830211&d=20120607184128)
		no-repeat -40px top
}

.more3c_top_toolbar .mod_login .item_submit {
	height: 26px
}

.more3c_top_toolbar .mod_login .item_submit button {
	width: 66px;
	height: 26px;
	margin: 0 10px 0 0;
	color: #fff;
	background-color: #317EE7;
	border: none;
	font-size: 14px;
	cursor: pointer
}

.more3c_top_toolbar .mod_login .item_submit a:link,.more3c_top_toolbar .mod_login .item_submit a:visited,.more3c_top_toolbar .mod_login .item_submit a:hover,.more3c_top_toolbar .mod_login .item_submit a:active
	{
	_vertical-align: top;
	_display: inline-block;
	_margin-top: 5px;
	color: #317EE7
}

.more3c_top_toolbar .mod_login .mod_login_other dd {
	height: 24px
}

.more3c_top_toolbar .mod_login .btn_login_qq,.more3c_top_toolbar .mod_login .btn_login_alipay
	{
	display: block;
	float: left;
	width: 120px;
	height: 24px;
	background:
		url(../../front/images/toolbar_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left -50px
}

.more3c_top_toolbar .mod_login .btn_login_alipay {
	width: 94px;
	background-position: left -76px
}

.more3c_top_toolbar .mod_order {
	width: 253px;
	font-family: \5FAE\8F6F\96C5\9ED1;
	height: auto;
	padding: 0;
	border: none;
	position: static
}

.more3c_top_toolbar .mod_order .empty {
	padding: 3px 8px
}

.more3c_top_toolbar .mod_order .empty a,.more3c_top_toolbar .mod_order .empty a:link,.more3c_top_toolbar .mod_order .empty a:visited,.more3c_top_toolbar .mod_order .empty a:hover,.more3c_top_toolbar .mod_order .empty a:active
	{
	color: #317EE7
}

.more3c_top_toolbar .mod_order li {
	height: 81px; #
	height: 84px;
	border-bottom: 1px #E1E1E1 solid
}

.more3c_top_toolbar .mod_order .pic_wrap {
	float: left;
	overflow: hidden;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	padding: 10px;
	text-align: center;
	line-height: 60px; #
	font-size: 46px
}

.more3c_top_toolbar .mod_order .pic_wrap img {
	vertical-align: middle
}

.more3c_top_toolbar .mod_order .order_info {
	float: left;
	width: 75px;
	padding-top: 20px
}

.more3c_top_toolbar .mod_order .order_info dd {
	padding-top: 4px;
	color: #999
}

.more3c_top_toolbar .mod_order .order_status {
	position: relative;
	overflow: hidden;
	_zoom: 1;
	padding-right: 10px;
	line-height: 80px;
	text-align: right
}

.more3c_top_toolbar .mod_order .order_status .wait {
	color: #fdc142
}

.more3c_top_toolbar .mod_order .order_status .out {
	color: #5fb840
}

.more3c_top_toolbar .mod_order .order_old {
	overflow: hidden;
	height: 29px;
	padding-right: 8px;
	line-height: 29px;
	background-color: #F8F8F8;
	text-align: right
}

.more3c_top_toolbar .mod_order .order_old .dot_arrow {
	vertical-align: text-top;
	display: inline-block;
	width: 12px;
	height: 11px;
	margin: 3px 0 0 4px;
	_margin-top: 2px;
	background:
		url(../../front/images/index_floor_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -148px -289px;
	_background:
		url(../../front/images/index_floor_dot_ie6.png?max_age=19830211&d=20120607184128)
		no-repeat -143px -22px
}

.more3c_top_toolbar .mod_order .order_old a:hover .dot_arrow {
	background-position: -162px -289px;
	_background-position: -157px -22px
}

.more3c_top_toolbar .mod_order .order_old a {
	_vertical-align: middle;
	_margin-top: 6px;
	_display: inline-block
}

.more3c_top_toolbar .menu_hover .menu_bd {
	display: block
}

.more3c_top_toolbar .menu_hd:hover,.more3c_top_toolbar .menu_hover .menu_hd:link,.more3c_top_toolbar .menu_hover .menu_hd:hover,.more3c_top_toolbar .menu_hover .menu_hd:visited,.more3c_top_toolbar .menu_hover .menu_hd:active
	{
	padding-bottom: 2px;
	border: 1px #D0D0D0 solid;
	border-bottom: none;
	text-decoration: none
}

.more3c_top_toolbar .menu_hover .menu_hd:link,.more3c_top_toolbar .menu_hover .menu_hd:visited,.more3c_top_toolbar .menu_hover .menu_hd:hover,.more3c_top_toolbar .menu_hover .menu_hd:active
	{
	background-color: #fff
}

.more3c_top_toolbar .toolbar_buy {
	float: left
}

.more3c_top_toolbar .toolbar_buy .item {
	background-image: none
}

.more3c_top_toolbar .toolbar_buy .item_qqbuy {
	width: 69px;
	height: 16px;
	padding: 0 8px 0 0
}

.more3c_top_toolbar .toolbar_buy .item_qqbuy a:link,.more3c_top_toolbar .toolbar_buy .item_qqbuy a:visited,.more3c_top_toolbar .toolbar_buy .item_qqbuy a:hover,.more3c_top_toolbar .toolbar_buy .item_qqbuy a:active
	{
	display: inline-block;
	width: 69px;
	height: 16px;
	background:
		url(../../front/images/toolbar_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left -102px
}

.more3c_top_toolbar .toolbar_buy .item_more {
	padding: 0
}

.more3c_top_toolbar .mod_more {
	width: 52px;
	padding: 5px 0;
	text-align: center
}

.more3c_top_toolbar .mod_more li {
	height: 22px;
	line-height: 22px
}

.more3c_head {
	position: relative;
	height: 93px;
	font-family: Tahoma;
	z-index: 901
}

.more3c_head_mini {
	height: 63px
}

.more3c_head .logo {
	position: absolute;
	top: 16px;
	left: 5px;
	overflow: hidden;
	width: 241px;
	height: 53px
}

.more3c_head .logo .logo_bd {
	display: block;
	float: left;
	width: 241px;
	height: 53px;
	background:
		url(../../front/images/more3c_head_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left top
}

.more3c_head .stand_trans {
	display: none;
	position: absolute;
	top: 40px;
	left: 330px;
	width: 73px;
	height: 29px;
	background:
		url(../../front/images/more3c_head_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -83px -55px;
	_background-position: -158px -55px
}

.more3c_1280 .more3c_head .stand_trans {
	display: block
}

.more3c_head .stand_trans a {
	display: block;
	float: left;
	width: 73px;
	height: 29px;
	background: url(about:blank)
}

.more3c_head .stand {
	position: absolute;
	top: 26px;
	right: 5px;
	_right: 4px;
	overflow: hidden;
	width: 200px;
	height: 41px;
	background:
		url(../../front/images/more3c_head_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left -89px
}

.more3c_head .stand_seven {
	background-position: left -132px
}

.more3c_head .search {
	position: absolute;
	top: 26px;
	right: 286px;
	width: 332px
}

.more3c_1280 .more3c_head .search {
	right: 325px;
	width: 412px
}

.more3c_head .search_bd {
	overflow: hidden;
	height: 32px;
	margin-bottom: 3px;
	background-color: #317EE7
}

.more3c_head .search_bd input {
	float: left;
	overflow: hidden;
	width: 239px;
	height: 24px;
	margin: 3px 0 0 3px;
	padding-left: 6px;
	line-height: 24px;
	border: none;
	border-top: 1px #C2C0C0 solid;
	border-left: 1px #CAD7E9 solid;
	color: #999;
	background-color: #fff;
	font-family: Tahoma
}

.more3c_1280 .more3c_head .search_bd input {
	width: 319px
}

.more3c_head .search_bd input:focus {
	color: #333
}

.more3c_head .search_bd .search_submit {
	_float: left;
	width: 81px;
	height: 32px;
	border: none;
	background:
		url(../../front/images/more3c_head_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left -55px #317EE7;
	cursor: pointer
}

.more3c_head .hot_keywords {
	z-index: 1;
	overflow: hidden;
	height: 16px
}

.more3c_head .hot_keywords a {
	margin-left: 10px
}

ul.autocomplete {
	z-index: 901
}

.more3c_head .area_change { #
	z-index: 10;
	position: absolute;
	_position: relative;
	top: 36px;
	_top: 39px;
	left: 254px;
	_left: 249px;
	width: 42px;
	height: 18px
}

.more3c_head .area_change .change:link,.more3c_head .area_change .change:visited,.more3c_head .area_change .change:hover,.more3c_head .area_change .change:active
	{
	_overflow: hidden;
	_position: absolute;
	_top: 0;
	_left: 0;
	display: block;
	float: left;
	width: 34px;
	height: 18px;
	padding: 0 4px;
	line-height: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #317EE7
}

.more3c_head .area_change .change:hover,.more3c_head .area_change_hover .change:link,.more3c_head .area_change_hover .change:visited,.more3c_head .area_change_hover .change:hover,.more3c_head .area_change_hover .change:active
	{
	background-color: #317EE7;
	color: #fff
}

.more3c_head .area_change .dot_change {
	display: inline-block; #
	vertical-align: top;
	width: 4px;
	height: 7px;
	margin-left: 4px; #
	margin-top: 4px;
	_margin-top: 5px;
	background:
		url(../../front/images/more3c_head_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -243px top
}

.more3c_head .area_change .change:hover .dot_change,.more3c_head .area_change_hover .dot_change
	{
	background-position: -243px -9px
}

.more3c_head .area_change_desc { #
	z-index: 5;
	position: absolute;
	_position: relative;
	top: 53px;
	_top: 36px;
	left: 254px;
	_left: 249px;
	color: #7E838D
}

.more3c_head .area_change_desc .desc,.more3c_head .area_change_desc .desc:link,.more3c_head .area_change_desc .desc:visited,.more3c_head .area_change_desc .desc:hover,.more3c_head .area_change_desc .desc:active
	{
	display: block;
	width: 80px;
	padding-left: 4px;
	color: #7E838D
}

.more3c_head .area_change_desc .desc:hover {
	color: #317EE7
}

.more3c_head .area_change_noarrow .dot_change {
	display: none
}

.more3c_head .area_change_noarrow .change:link,.more3c_head .area_change_noarrow .change:visited,.more3c_head .area_change_noarrow .change:hover,.more3c_head .area_change_noarrow .change:active
	{
	width: 31px;
	padding-right: 0;
	background-color: #fff;
	color: #317EE7;
	cursor: default
}

.more3c_head .jump_city {
	display: none;
	position: absolute;
	top: 0;
	left: 42px;
	width: 150px;
	border: 1px solid #317EE7; #
	zoom: 1;
	z-index: 1;
	background-color: #FFF
}

.more3c_head .area_change_hover .jump_city {
	display: block
}

.more3c_head .jump_city .city { #
	zoom: 1;
	overflow: hidden;
	padding: 3px 15px 5px 15px;
	line-height: 16px
}

.more3c_head .jump_city .city li {
	float: left;
	padding-right: 10px
}

.more3c_head .jump_city .city li a {
	display: inline-block;
	width: auto;
	height: auto;
	line-height: 16px;
	color: #317EE7;
	zoom: 1;
	vertical-align: middle
}

.more3c_head .jump_city .nor {
	clear: both;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background-color: #f2f2f2;
	color: #999
}

.more3c_head .jump_city .nor .piont {
	padding-right: 5px
}

.more3c_head .jump_city .load {
	padding: 14px 29px;
	display: none
}

.more3c_head .jump_city .load .loading_82_21 {
	display: inline-block;
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 9px;
	_display: inline
}

.more3c_head .jump_city .f {
	padding: 14px 5px;
	display: none;
	text-align: center
}

.more3c_head .jump_city .f .icon {
	padding-right: 4px
}

.more3c_head .jump_city .f a {
	position: static;
	display: inline;
	float: none;
	width: auto;
	height: auto;
	line-height: 18px;
	margin: 0;
	padding: 0
}

.more3c_nav { #
	position: relative;
	z-index: 900;
	width: 100%;
	height: 30px;
	background-color: #317EE7
}

.more3c_nav .more3c_cate {
	position: relative;
	float: left;
	width: 200px;
	height: 30px
}

.more3c_nav .more3c_cate .cate_hd {
	_position: relative;
	width: 200px;
	height: 30px;
	margin-left: -1px;
	border-left: 1px #fff solid;
	font-weight: normal
}

.more3c_nav .more3c_cate .cate_hd a:link,.more3c_nav .more3c_cate .cate_hd a:visited,.more3c_nav .more3c_cate .cate_hd a:hover,.more3c_nav .more3c_cate .cate_hd a:active
	{
	overflow: hidden;
	display: block;
	width: 185px;
	height: 30px;
	line-height: 28px;
	line-height: 30px\9;
	padding-left: 15px;
	font-size: 18px;
	color: #fff;
	text-decoration: none
}

.more3c_nav .more3c_cate .cate_hd .dot_cate {
	display: inline-block;
	float: right;
	width: 13px;
	height: 13px;
	margin: 9px 7px 0 0; #
	margin-top: -23px;
	_margin-top: -21px;
	background:
		url(../../front/images/more3c_nav_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -38px -6px
}

.more3c_nav .i_status_on .cate_bd {
	display: block
}

.more3c_nav .cate_bd {
	z-index: 999;
	display: none;
	position: absolute;
	top: 30px;
	left: 0;
	width: 200px;
	height: 722px;
	border-bottom: 1px #317EE7 solid;
	background-color: #317EE7
}

.more3c_nav .cate_bd_bj {
	height: 662px
}

.more3c_nav .cate_bd_hb {
	height: 658px
}

.more3c_nav .cate_bd .item {
	z-index: 2000;
	position: relative;
	height: 63px;
	border-top: 1px #468BE9 solid
}

.more3c_nav .cate_bd .item_hd {
	height: 54px;
	padding: 9px 0 0 12px;
	border-left: 1px #317EE7 solid
}

.more3c_nav .cate_bd .top_cate {
	overflow: hidden;
	height: 24px;
	line-height: 24px;
	color: #fff
}

.more3c_nav .cate_bd .sub_cate {
	overflow: hidden;
	width: 180px;
	_width: 178px;
	height: 17px;
	line-height: 17px;
	white-space: nowrap;
	text-overflow: ellipsis
}

.more3c_nav .cate_bd .dot_cate {
	float: right;
	display: inline-block;
	width: 5px;
	height: 7px;
	margin: 10px 11px 0 0; #
	margin-top: -17px;
	_margin-top: -16px;
	background:
		url(../../front/images/more3c_nav_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -53px -12px
}

.more3c_nav .cate_bd .top_cate a:link,.more3c_nav .cate_bd .top_cate a:visited,.more3c_nav .cate_bd .top_cate a:hover,.more3c_nav .cate_bd .top_cate a:active
	{
	display: block;
	float: left;
	width: 185px;
	font-size: 15px;
	color: #fff
}

.more3c_nav .cate_bd .sub_cate,.more3c_nav .cate_bd .sub_cate a:link,.more3c_nav .cate_bd .sub_cate a:visited,.more3c_nav .cate_bd .sub_cate a:hover,.more3c_nav .cate_bd .sub_cate a:active
	{
	margin-right: 9px;
	font-family: Tahoma;
	color: #C2D9F8
}

.more3c_nav .cate_bd .item_bd {
	display: none;
	z-index: 1000;
	position: absolute;
	top: -2px;
	left: 199px;
	width: 652px;
	min-height: 100px;
	_height: 100px;
	border: 2px #317EE7 solid;
	background:
		url(../../front/images/more3c_nav_bg.png?max_age=19830211&d=20120607184128)
		repeat-y left top #fff
}

.more3c_nav .cate_bd .item_bd .list {
	float: left;
	width: 425px;
	padding: 0 13px 6px 13px
}

.more3c_nav .cate_bd .item_bd dl {
	padding: 6px 0;
	border-bottom: 1px #E1E1E1 dashed
}

.more3c_nav .cate_bd .item_bd .t {
	font-size: 16px;
	color: #666
}

.more3c_nav .cate_bd .item_bd dt {
	float: left;
	width: 64px;
	margin: 2px 17px 0 3px
}

.more3c_nav .cate_bd .item_bd dd {
	_zoom: 1;
	position: relative;
	overflow: hidden;
	line-height: 23px
}

.more3c_nav .cate_bd .item_bd dd a {
	float: left;
	margin-right: 15px;
	white-space: nowrap;
	font-family: Tahoma
}

.more3c_nav .cate_bd .item_bd .hot {
	_float: left;
	position: relative;
	overflow: hidden;
	_width: 161px;
	padding: 6px 20px
}

.more3c_nav .cate_bd .item_bd li {
	overflow: hidden;
	width: 160px;
	height: 24px;
	padding-left: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 24px;
	font-family: Tahoma;
	background:
		url(../../front/images/more3c_nav_bg.png?max_age=19830211&d=20120607184128)
		no-repeat -671px 10px
}

.more3c_nav .cate_bd .item_hover {
	border-top: 1px #317EE7 solid
}

.more3c_nav .cate_bd .item_hover .item_hd {
	z-index: 3000;
	position: relative;
	width: 202px;
	background-color: #fff
}

.more3c_nav .cate_bd .item_hover .item_bd {
	display: block
}

.more3c_nav .cate_bd .item_hover .dot_cate {
	display: none
}

.more3c_nav .cate_bd .item_hover a:link,.more3c_nav .cate_bd .item_hover a:visited,.more3c_nav .cate_bd .item_hover a:hover,.more3c_nav .cate_bd .item_hover a:active
	{
	color: #317EE7
}

.more3c_nav .cate_easy {
	border-right: 1px #317EE7 solid;
	border-left: 1px #317EE7 solid
}

.more3c_nav .cate_easy .item {
	height: 29px;
	border-top: 1px #BFBFBF solid;
	background-color: #f8f8f8
}

.more3c_nav .cate_easy .item_first {
	border-top: 1px #317EE7 solid
}

.more3c_nav .cate_easy .item_hd {
	height: 29px;
	padding: 0 0 0 11px;
	border-left: none
}

.more3c_nav .cate_easy .top_cate {
	height: 29px;
	line-height: 29px
}

.more3c_nav .cate_easy .top_cate a:link,.more3c_nav .cate_easy .top_cate a:visited,.more3c_nav .cate_easy .top_cate a:hover,.more3c_nav .cate_easy .top_cate a:active
	{
	color: #333
}

.more3c_nav .cate_easy .dot_cate {
	width: 10px;
	height: 19px;
	margin-top: 6px; #
	margin-top: -24px;
	background-position: -26px top
}

.more3c_nav .cate_easy .item_bd {
	left: 198px
}

.more3c_nav .cate_normal,.more3c_nav .cate_easy {
	_overflow: hidden;
	_width: 198px
}

.more3c_nav .nav_bd {
	float: left;
	height: 30px;
	border-left: 1px #fff solid
}

.more3c_nav .nav_bd li {
	position: relative;
	float: left;
	width: 70px;
	height: 30px
}

.more3c_1280 .more3c_nav .nav_bd li {
	width: 100px
}

.more3c_nav .nav_bd .dot_hot {
	position: absolute;
	top: -10px;
	right: 4px;
	display: inline-block;
	width: 17px;
	height: 18px;
	font-size: 0;
	background:
		url(../../front/images/more3c_nav_dot.png?max_age=19830211&d=20120607184128)
		no-repeat -85px -1px
}

.more3c_1280 .more3c_nav .nav_bd .dot_hot {
	right: 10px
}

.more3c_nav .nav_bd a:link,.more3c_nav .nav_bd a:visited,.more3c_nav .nav_bd a:hover,.more3c_nav .nav_bd a:active
	{
	display: block;
	float: left;
	_float: none;
	width: 68px;
	border-right: 1px #317EE7 solid;
	border-left: 1px #317EE7 solid;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #fff;
	text-decoration: none
}

.more3c_1280 .more3c_nav .nav_bd a:link,.more3c_1280 .more3c_nav .nav_bd a:visited,.more3c_1280 .more3c_nav .nav_bd a:hover,.more3c_1280 .more3c_nav .nav_bd a:active
	{
	width: 98px
}

.more3c_nav .nav_bd .current a:link,.more3c_nav .nav_bd .current a:visited,.more3c_nav .nav_bd .current a:hover,.more3c_nav .nav_bd .current a:active,.more3c_nav .nav_bd a:hover
	{
	background-color: #FFBA00;
	border-right: 1px #fff solid;
	border-left: 1px #fff solid
}

#nav_home a:hover,#nav_home.current a,#nav_home.current a:hover {
	margin-left: -1px;
	padding-left: 1px
}

.more3c_nav .cart_bd,.more3c_nav .cart_bd .cart_wrap {
	float: right;
	position: relative;
	display: block;
	width: 200px;
	height: 30px
}

.more3c_nav .cart_bd .cart_wrap:link,.more3c_nav .cart_bd .cart_wrap:visited,.more3c_nav .cart_bd .cart_wrap:hover,.more3c_nav .cart_bd .cart_wrap:active
	{
	_position: absolute;
	_top: 0;
	_left: 0;
	float: left;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	background-color: #FFBA00;
	color: #fff;
	text-decoration: none
}

.more3c_nav .cart_bd .cart_wrap_empty:link,.more3c_nav .cart_bd .cart_wrap_empty:visited,.more3c_nav .cart_bd .cart_wrap_empty:hover,.more3c_nav .cart_bd .cart_wrap_empty:active
	{
	background-color: #317EE7
}

.more3c_nav .cart_bd .dot_cart {
	display: inline-block;
	vertical-align: top;
	width: 23px;
	height: 19px;
	margin: 6px 10px 0 0; #
	margin-top: 0;
	_margin-top: 6px;
	background:
		url(../../front/images/more3c_nav_dot.png?max_age=19830211&d=20120607184128)
		no-repeat left top
}

.more3c_nav .cart_bd .cart_wrap_empty .dot_cart {
	background-position: -60px top
}

.more3c_nav .cart_bd .cart_wrap span {
	_display: inline-block;
	_vertical-align: middle
}

.more3c_nav .cart_bd .cart_list {
	z-index: 901;
	position: absolute;
	top: 30px;
	right: 0;
	width: 251px;
	border: 2px #FFBA00 solid;
	background-color: #fff
}

.more3c_nav .cart_bd .cart_list .empty {
	padding: 3px 8px
}

.more3c_nav .cart_bd .cart_list li {
	height: 70px;
	border-bottom: 1px #E1E1E1 solid
}

.more3c_nav .cart_bd .cart_list .pic_wrap {
	float: left;
	overflow: hidden;
	width: 50px;
	height: 50px;
	padding: 10px;
	line-height: 50px
}

.more3c_nav .cart_bd .cart_list .pic_wrap img {
	width: 50px
}

.more3c_nav .cart_bd .cart_list .txt_wrap {
	position: relative;
	overflow: hidden; #
	zoom: 1;
	padding: 6px 10px 0 0
}

.more3c_nav .cart_bd .cart_list .name {
	overflow: hidden;
	height: 39px
}

.more3c_nav .cart_bd .cart_list .name a {
	overflow: hidden;
	display: block;
	float: left;
	height: 36px;
	line-height: 18px
}

.more3c_nav .cart_bd .cart_list .action {
	text-align: left;
	color: #f00000
}

.more3c_nav .cart_bd .cart_list .remove {
	float: right;
	margin-top: 2px
}

.more3c_nav .cart_bd .cart_list .rmb {
	margin-right: 3px;
	font-family: Arial;
	color: #f00000
}

.more3c_nav .cart_bd .cart_list .price {
	margin-right: 5px;
	font-size: 14px;
	color: #f00000
}

.more3c_nav .cart_bd .cart_list .ride {
	color: #666
}

.more3c_nav .cart_bd .cart_list dl {
	height: 55px;
	padding: 7px 10px 10px 10px;
	text-align: right
}

.more3c_nav .cart_bd .cart_list dt {
	height: 25px
}

.more3c_nav .cart_bd .cart_list dt .rmb {
	margin-left: 3px
}

.more3c_nav .cart_bd .cart_list .balance:link,.more3c_nav .cart_bd .cart_list .balance:visited,.more3c_nav .cart_bd .cart_list .balance:hover,.more3c_nav .cart_bd .cart_list .balance:active
	{
	display: inline-block;
	width: 114px;
	height: 30px;
	background-color: #FF624D;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	color: #fff;
	text-decoration: none
}

.i_cont_iframe {
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	zoom: 1;
	visibility: hidden
}

.more3c_foot {
	overflow: hidden;
	clear: both;
	padding-top: 40px
}

.more3c_foot .mod_txtlink {
	overflow: hidden; #
	zoom: 1;
	width: 100%;
	height: 175px;
	background-color: #AFB5BE
}

.more3c_foot .mod_txtlink li {
	float: left;
	width: 164px;
	height: 175px;
	margin-top: 31px;
	color: #fff
}

.more3c_1280 .more3c_foot .mod_txtlink li {
	width: 204px
}

.more3c_foot .mod_txtlink a:link,.more3c_foot .mod_txtlink a:visited,.more3c_foot .mod_txtlink a:hover,.more3c_foot .mod_txtlink a:active
	{
	color: #fff
}

.more3c_foot .mod_txtlink dt {
	overflow: hidden;
	width: 74px;
	height: 19px;
	margin-bottom: 8px
}

.more3c_foot .mod_txtlink dt span {
	display: none
}

.more3c_foot .mod_txtlink dd {
	margin-bottom: 3px
}

.more3c_foot .mod_txtlink .payhelp {
	margin-top: -20px
}

.more3c_foot .mod_txtlink .trans {
	margin-top: -41px
}

.more3c_foot .mod_txtlink .term {
	margin-top: -62px
}

.more3c_foot .mod_txtlink .about {
	margin-top: -82px
}

.more3c_foot .mod_txtlink .contact {
	margin-top: -102px
}

.more3c_foot .mod_slogan {
	overflow: hidden;
	height: 57px;
	padding-top: 25px;
	border-bottom: 1px #DFDFDF solid
}

.more3c_foot .mod_slogan li,.more3c_foot .mod_slogan li img {
	overflow: hidden;
	float: left
}

.more3c_foot .mod_slogan li {
	width: 197px;
	height: 32px
}

.more3c_1280 .more3c_foot .mod_slogan li {
	width: 245px;
	height: 32px
}

.more3c_foot .mod_slogan .item0 {
	margin-top: -123px
}

.more3c_foot .mod_slogan .item1 {
	margin-top: -157px
}

.more3c_foot .mod_slogan .item2 {
	margin-top: -191px
}

.more3c_foot .mod_slogan .item3 {
	margin-top: -225px
}

.more3c_foot .mod_slogan .item4 {
	margin-top: -259px
}

.more3c_foot .mod_copy {
	overflow: hidden;
	height: 110px;
	text-align: center
}

.more3c_foot .mod_copy p {
	height: 52px;
	line-height: 52px;
	font-family: Tahoma
}

.more3c_foot .mod_copy ul {
	width: 718px;
	margin: 0 auto
}

.more3c_foot .mod_copy li {
	float: left;
	overflow: hidden;
	width: 108px;
	height: 40px;
	margin-left: 10px
}

.more3c_foot .mod_copy .logo0 {
	margin-top: -293px
}

.more3c_foot .mod_copy .logo1 {
	margin-top: -335px
}

.more3c_foot .mod_copy .logo2 {
	margin-top: -377px
}

.more3c_foot .mod_copy .logo3 {
	margin-top: -419px
}

.more3c_foot .mod_copy .logo4 {
	margin-top: -461px
}

.more3c_foot .mod_copy .logo5 {
	margin-top: -503px
}

.more3c_foot .mod_txtlink .qq_com:link,.more3c_foot .mod_txtlink .qq_com:visited,.more3c_foot .mod_txtlink .qq_com:hover,.more3c_foot .mod_txtlink .qq_com:active
	{
	-webkit-text-size-adjust: none;
	overflow: hidden;
	display: block;
	width: 111px;
	height: 22px;
	margin-top: 3px;
	padding: 18px 6px 0 0;
	background:
		url(../../front/images/more3c_foot_pic.png?max_age=19830211&d=20120607184128)
		no-repeat left -545px;
	text-decoration: none;
	color: #35568b;
	font-size: 10px;
	font-family: Arial;
	font-weight: bold;
	text-align: right
}

.mod_top_banner {
	height: 35px;
	width: 100%;
	background:
		url(../../front/images/home_bg.png?max_age=19830211&d=20120607184128)
		repeat-x 0 -300px;
	color: #333
}

.mod_top_banner a {
	color: #06c;
	text-decoration: none
}

.mod_top_banner .redf {
	color: red;
	font-weight: bolder
}

.mod_top_banner .main_area {
	width: 985px;
	margin: 0 auto;
	height: 19px;
	padding: 8px 0
}

.mod_top_banner .sale_tip {
	float: left;
	width: 575px;
	height: 19px;
	padding-left: 32px;
	background:
		url(../../front/images/header_full.png?max_age=19830211&d=20120607184128)
		no-repeat -287px -23px;
	text-align: left
}

.mod_top_banner .login_status {
	float: right;
	height: 19px;
	text-align: right
}

.mod_top_banner .sale_tip a,.mod_top_banner .login_status a.my_caibei {
	color: #06c
}

.mod_top_banner .login_status img {
	border: none
}

.mod_top_banner .qqUser {
	height: 16px;
	float: left;
	padding-right: 5px
}

.mod_top_banner .qqUser .name {
	float: left;
	width: 230px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.mod_top_banner .my_caibei {
	padding-left: 10px;
	border-left: #add9fb 1px solid
}

.more3c_1280 .mod_top_banner .main_area {
	width: 1225px
}

.config_list {
	font: 12px/18px Arial, Simsun, Helvetica
}

body .main {
	margin: 10px auto 0 auto
}

body .zj_banner,body.more3c_1280 .zj_banner {
	margin-top: 10px
}

div.layout_3row {
	margin-top: 10px
}

.more3c_1280 .id_flow_password .flow_step .cols3 li {
	width: 393px
}

.property h1 {
	font-weight: 700
}

#GeneratedByCssGaga177 {
	transform: rotate(20120607184128deg)
}