.ss_tejia,.ss_dujia,.ss_xinpin,.ss_renqi,.ss_jinkou,.ss_xianshi {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 65px;
	height: 78px;
	cursor: pointer;
	background:
		url(../../front/images/superscript_dot.png)
		no-repeat;
	_background: none;
	_background-position: 0 0;
	_filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
		'../../front/images/superscript_dot.png',
		sizingMethod = 'scale' );
	_width: 400px;
	_font-size: 0;
	line-height: 78px
}

.ss_tejia {
	_right: -335px
}

.ss_dujia {
	background-position: -67px top;
	_right: -268px;
	_clip: rect(0px, 132px, 100px, 67px)
}

.ss_xinpin {
	background-position: -134px top;
	_right: -201px;
	_clip: rect(0px, 199px, 100px, 134px)
}

.ss_renqi {
	background-position: -201px top;
	_right: -134px;
	_clip: rect(0px, 266px, 100px, 201px)
}

.ss_jinkou {
	background-position: -268px top;
	_right: -67px;
	_clip: rect(0px, 333px, 100px, 268px)
}

.ss_xianshi {
	background-position: -335px top;
	_clip: rect(0px, 400px, 100px, 335px)
}

.more3c_content .mod_gb {
	min-height: 100px;
	border: 1px #D0D0D0 solid;
	border-top: 2px #D0D0D0 solid
}

.more3c_content .mod_gb .mod_gb_hd {
	padding: 10px 0 0 10px
}

.more3c_content .mod_gb .mod_gb_hd dl {
	float: left
}

.more3c_content .mod_gb .mod_gb_hd dt {
	width: 82px;
	height: 20px;
	margin-bottom: 1px;
	background:
		url(../../front/images/index_text_dot.png)
		no-repeat left top
}

.more3c_content .mod_gb .mod_gb_hd dd {
	-webkit-text-size-adjust: none;
	font-family: Tahoma;
	font-size: 9px;
	color: #888
}

.more3c_content .mod_gb .mod_gb_hd dd a,.more3c_content .mod_gb .mod_gb_hd dd a:link
	{
	color: #888
}

.more3c_content .mod_gb .mod_gb_hd dd a:hover {
	color: #317EE7
}

.first_screen {
	_overflow: hidden;
	height: 713px;
	padding-top: 10px
}

.first_screen .center_wrap,.mod_floor .floor_bd .goods_wrap,.mod_floor .floor_bd .col_left,.mod_floor .floor_bd .col_right
	{
	_overflow: hidden;
	display: inline;
	float: left;
	width: 100%
}

.first_screen .center_wrap .row_center {
	height: 500px;
	margin: 0 200px;
	padding: 0 10px
}

.first_screen .row_sidebar,.first_screen .row_left {
	display: inline;
	float: left;
	width: 200px;
	margin-left: -200px
}

.first_screen .row_left {
	margin-left: -985px
}

.more3c_1280 .first_screen .row_left {
	margin-left: -1225px
}

.first_screen .mod_slide {
	height: 229px
}

.more3c_1280 .first_screen .mod_slide {
	height: 327px
}

.mod_slide .body_slide img {
	width: 565px;
	height: 229px;
	border-width: 0
}

.mod_slide .main_slide {
	overflow: hidden;
	position: relative;
	width: 565px;
	height: 229px
}

.more3c_1280 .mod_slide .main_slide,.more3c_1280 .mod_slide .body_slide img
	{
	width: 805px;
	height: 327px
}

.mod_slide .main_slide .body_slide {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	_left: -1px
}

.mod_slide .main_slide .bor_slide {
	z-index: 4;
	position: absolute;
	top: 5px;
	right: 0;
	width: 16px
}

.more3c_1280 .mod_slide .main_slide .bor_slide {
	top: 9px;
	width: 22px
}

.mod_slide .bor_slide li {
	width: 16px;
	height: 42px;
	margin-bottom: 2px;
	background:
		url(../../front/images/first_screen_dot.png)
		no-repeat 0 -160px;
	cursor: pointer
}

.more3c_1280 .mod_slide .bor_slide li {
	width: 22px;
	height: 60px
}

.mod_slide .bor_slide .item1 {
	background-position: -36px -160px
}

.mod_slide .bor_slide .item2 {
	background-position: -72px -160px
}

.mod_slide .bor_slide .item3 {
	background-position: -108px -160px
}

.mod_slide .bor_slide .item4 {
	background-position: -144px -160px
}

.mod_slide .bor_slide .item0_hover {
	background-position: -18px -160px
}

.mod_slide .bor_slide .item1_hover {
	background-position: -54px -160px
}

.mod_slide .bor_slide .item2_hover {
	background-position: -90px -160px
}

.mod_slide .bor_slide .item3_hover {
	background-position: -126px -160px
}

.mod_slide .bor_slide .item4_hover {
	background-position: -162px -160px
}

.more3c_1280 .mod_slide .bor_slide .item0 {
	background-position: -0px -98px
}

.more3c_1280 .mod_slide .bor_slide .item1 {
	background-position: -48px -98px
}

.more3c_1280 .mod_slide .bor_slide .item2 {
	background-position: -96px -98px
}

.more3c_1280 .mod_slide .bor_slide .item3 {
	background-position: -144px -98px
}

.more3c_1280 .mod_slide .bor_slide .item4 {
	background-position: -192px -98px
}

.more3c_1280 .mod_slide .bor_slide .item0_hover {
	background-position: -24px -98px
}

.more3c_1280 .mod_slide .bor_slide .item1_hover {
	background-position: -72px -98px
}

.more3c_1280 .mod_slide .bor_slide .item2_hover {
	background-position: -120px -98px
}

.more3c_1280 .mod_slide .bor_slide .item3_hover {
	background-position: -168px -98px
}

.more3c_1280 .mod_slide .bor_slide .item4_hover {
	background-position: -216px -98px
}

.first_screen .mod_quickbuy {
	position: relative;
	height: 386px
}

.first_screen .mod_quickbuy_hd {
	overflow: hidden;
	position: relative;
	width: 565px;
	height: 46px;
	left: 0;
	top: 5px;
	color: #fff
}

.more3c_1280 .first_screen .mod_quickbuy_hd {
	width: 805px
}

.first_screen .mod_quickbuy_hd .control:link,.first_screen .mod_quickbuy_hd .control:visited,.first_screen .mod_quickbuy_hd .control:hover,.first_screen .mod_quickbuy_hd .control:active
	{
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 125px;
	height: 33px;
}

.first_screen .mod_quickbuy .mod_day {
	position: relative;
	width: 565px;
	height: 33px;
	margin-top: 5px;
	background-color: #317EE7
}

.more3c_1280 .first_screen .mod_quickbuy .mod_day {
	width: 805px
}

.first_screen .mod_quickbuy .mod_day .col_left,.first_screen .mod_quickbuy .mod_day .col_right
	{
	position: absolute;
	top: 0;
	height: 33px;
	line-height: 33px;
	background-color: #FFBA00;
	font-size: 16px
}

.first_screen .mod_quickbuy .mod_day .col_left {
	left: 0;
	width: 452px
}

.more3c_1280 .first_screen .mod_quickbuy .mod_day .col_left {
	width: 692px
}

.first_screen .mod_quickbuy .mod_day .col_right {
	position: absolute;
	right: 0;
	width: 110px;
	padding-left: 3px;
	background-color: #317EE7
}

.first_screen .mod_quickbuy .dot_day {
	vertical-align: top;
	display: inline-block;
	width: 26px;
	height: 27px;
	margin: 4px 6px 0 20px;
	background:
		url(../../front/images/first_screen_dot.png)
		no-repeat -156px -44px;
	_background:
		url(../../front/images/first_screen_dot_ie6.png)
		no-repeat -47px top
}

.first_screen .mod_quickbuy .dot_night {
	background-position: -128px -44px;
	_background:
		url(../../front/images/first_screen_dot_ie6.png)
		no-repeat -19px top
}

.first_screen .mod_quickbuy .col_right .dot_day { #
	vertical-align: bottom;
	_vertical-align: top; #
	margin-top: -1px;
	_margin-top: 3px;
	margin-left: 0
}

.first_screen .mod_quickbuy .col_right span {
	_vertical-align: bottom;
	_display: inline-block
}

.first_screen .mod_quickbuy .mod_day .title { #
	display: inline-block;
	font-size: 18px;
	font-weight: bold
}

.first_screen .mod_quickbuy .mod_day p {
	clear: left;
	float: left
}

.first_screen .mod_quickbuy .mod_day .countdown {
	clear: none;
	overflow: hidden;
	width: 140px;
	height: 19px;
	margin: 7px 0 0 10px;
	background:
		url(../../front/images/first_screen_dot.png)
		no-repeat -122px -72px;
	_background:
		url(../../front/images/first_screen_dot_ie6.png)
		no-repeat 31px -94px
}

.first_screen .mod_quickbuy .mod_day .countdown span {
	float: left;
	display: block;
	width: 29px;
	height: 19px;
	margin-right: 16px;
	text-align: center;
	line-height: 20px;
	_line-height: 21px;
	background-color: #474E5D;
	font-family: arial;
	font-size: 24px
}

.first_screen .mod_quickbuy .mod_day .dot {
	position: absolute;
	right: 0;
	top: 0;
	width: 44px;
	height: 46px;
	margin-top: -5px;
	background:
		url(../../front/images/first_screen_dot.png)
		no-repeat left -44px;
	_background:
		url(../../front/images/first_screen_dot_ie6.png)
		no-repeat left -46px
}

.first_screen .mod_quickbuy .mod_night {
	background-color: #FFBA00
}

.first_screen .mod_quickbuy .mod_night .dot {
	background-position: -46px -44px;
	_background-position: -46px -46px
}

.first_screen .mod_quickbuy .mod_night .col_left {
	background-color: #317EE7
}

.first_screen .mod_quickbuy .mod_night .col_right {
	background-color: #FFBA00
}

.first_screen .mod_quickbuy .mod_day_only .dot,.first_screen .mod_quickbuy .mod_day_only .col_right .dot_day,.first_screen .mod_quickbuy .mod_day_only .col_right span,.first_screen .mod_day_only .control,.first_screen .mod_day_only .control:link
	{
	display: none
}

.first_screen .mod_quickbuy .mod_day_only .col_right {
	background-color: #FFBA00
}

.first_screen .mod_quickbuy .mod_quickbuy_bd {
	overflow: hidden;
	position: absolute;
	top: 43px;
	left: 0;
	width: 563px;
	height: 440px;
	border: 1px #D0D0D0 solid;
	border-top: none
}

.more3c_1280 .first_screen .mod_quickbuy .mod_quickbuy_bd {
	width: 803px;
	height: 342px
}

.first_screen .mod_quickbuy .mod_quickbuy_bd .bd_inner {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 2130px
}

.more3c_1280 .first_screen .mod_quickbuy .mod_quickbuy_bd .bd_inner {
	width: 2400px
}

.first_screen .mod_quickbuy .mod_quickbuy_bd ul {
	overflow: hidden;
	float: left;
	width: 565px
}

.more3c_1280 .first_screen .mod_quickbuy .mod_quickbuy_bd ul {
	width: 805px
}

.first_screen .mod_quickbuy .mod_quickbuy_bd li {
	float: left;
	width: 281px;
	height: 145px;
	padding-top: 2px;
	border-right: 1px #E1E1E1 solid;
	border-bottom: 1px #E1E1E1 solid
}

.more3c_1280 .first_screen .mod_quickbuy .mod_quickbuy_bd li {
	width: 267px;
	height: 156px;
	padding-top: 15px
}

.first_screen .mod_quickbuy .pic_wrap {
	float: left;
	overflow: hidden;
	width: 120px;
	height: 120px;
	padding: 10px;
	line-height: 120px; #
	font-size: 92px
}

.first_screen .mod_quickbuy .pic_wrap img {
	width: 120px;
	vertical-align: middle
}

.first_screen .mod_quickbuy .txt_wrap {
	float: left;
	width: 125px;
	padding-top: 21px
}

.more3c_1280 .first_screen .mod_quickbuy .txt_wrap {
	padding-top: 9px
}

.first_screen .mod_quickbuy .txt_wrap .price {
	overflow: hidden;
	height: 22px;
	line-height: 22px;
	font-size: 26px;
	color: #f00000;
	font-family: arial
}

.first_screen .mod_quickbuy .txt_wrap .price span {
	margin-right: 3px;
	font-size: 12px;
	font-family: arial
}

.first_screen .mod_quickbuy .txt_wrap .wait {
	height: 39px;
	line-height: 39px;
	color: #F00000;
	font-size: 16px;
	overflow: hidden
}

.first_screen .mod_quickbuy .txt_wrap .change {
	height: 19px;
	font-family: arial;
	_font-family: Tahoma
}

.first_screen .mod_quickbuy .txt_wrap .dot_down,.first_screen .mod_quickbuy .txt_wrap .dot_tag
	{
	display: inline-block;
	vertical-align: middle;
	width: 15px;
	height: 12px; #
	margin-top: 3px;
	_margin-top: 5px;
	margin-right: 3px;
	background:
		url(../../front/images/first_screen_dot.png)
		no-repeat -184px -44px
}

.first_screen .mod_quickbuy .txt_wrap .dot_tag {
	vertical-align: text-top; #
	vertical-align: middle;
	width: 13px;
	height: 13px; #
	margin-top: 2px;
	background-position: -201px -44px
}

.first_screen .mod_quickbuy .txt_wrap .name {
	overflow: hidden;
	width: 115px;
	height: 36px;
	margin-right: 10px;
	line-height: 17px
}

.first_screen .mod_quickbuy .buy,.first_screen .mod_quickbuy .buy_nor {
	padding-top: 7px
}

.first_screen .mod_quickbuy .buy a:link,.first_screen .mod_quickbuy .buy a:visited,.first_screen .mod_quickbuy .buy a:hover,.first_screen .mod_quickbuy .buy a:active
	{
	display: none;
	float: left;
	width: 69px;
	height: 26px;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 26px;
	background-color: #DA2121;
	text-decoration: none
}

.first_screen .mod_quickbuy .buy_nor a:link,.first_screen .mod_quickbuy .buy_nor a:visited,.first_screen .mod_quickbuy .buy_nor a:link,.first_screen .mod_quickbuy .buy_nor a:visited
	{
	background-color: #d4d4d4;
	cursor: default
}

.more3c_1280 .first_screen .mod_quickbuy .buy a:link,.more3c_1280 .first_screen .mod_quickbuy .buy a:visited,.more3c_1280 .first_screen .mod_quickbuy .buy a:hover,.more3c_1280 .first_screen .mod_quickbuy .buy a:active
	{
	display: block
}

.first_screen .trans_slogan {
	overflow: hidden;
	height: 38px;
	height: 36px\9; #
	height: 36px;
	_height: 38px;
	margin-bottom: 10px;
	padding: 2px 2px 2px 88px;
	padding-top: 4px\9; #
	padding-top: 4px;
	_padding-top: 2px;
	line-height: 18px;
	text-align: center;
	background:
		url(../../front/images/first_screen_dot.png)
		no-repeat left top;
	font-family: Tahoma;
	color: #317EE7
}

.first_screen .trans_slogan a:link,.first_screen .trans_slogan a:visited,.first_screen .trans_slogan a:hover,.first_screen .trans_slogan a:active
	{
	color: #317EE7;
	text-decoration: none
}

.first_screen .mod_new {
	overflow: hidden;
	position: relative;
	height: 272px;
	margin-bottom: 10px
}

.first_screen .mod_new .mod_gb_hd {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 36px
}

.first_screen .mod_new h3 {
	height: 26px;
	line-height: 26px;
	font-size: 14px
}

.first_screen .mod_new img {
	overflow: hidden;
	width: 178px;
	height: 190px;
	margin: 0 auto
}

.first_screen .mod_new .tab_hd {
	float: right;
	margin: 17px 2px 0 0
}

.first_screen .mod_new .tab_hd li {
	float: left;
	width: 15px;
	height: 14px;
	margin-right: 5px
}

.first_screen .mod_new .tab_hd li a {
	overflow: hidden;
	display: block;
	float: left;
	width: 15px;
	height: 14px;
	line-height: 14px; #
	line-height: 15px;
	text-align: center
}

.first_screen .mod_new .tab_hd li a:link,.first_screen .mod_new .tab_hd li a:visited,.first_screen .mod_new .tab_hd li a:hover,.first_screen .mod_new .tab_hd li a:active
	{
	text-decoration: none;
	color: #666
}

.first_screen .mod_new .tab_hd .current a:link,.first_screen .mod_new .tab_hd .current a:visited,.first_screen .mod_new .tab_hd .current a:hover,.first_screen .mod_new .tab_hd .current a:active
	{
	text-decoration: none;
	color: #666;
	background:
		url(../../front/images/index_floor_dot.png)
		no-repeat -131px -289px;
	color: #fff;
	_background:
		url(../../front/images/index_floor_dot_ie6.png)
		no-repeat -126px -22px
}

.first_screen .mod_new .tab_bd {
	position: absolute;
	top: 46px;
	left: 0;
	width: 708px;
	height: 216px
}

.first_screen .mod_new .tab_bd ul {
	float: left
}

.first_screen .mod_new .tab_bd li {
	_width: 198px;
	height: 216px;
	padding: 0 10px 10px
}

.first_screen .mod_tuan {
	position: relative;
	height: 373px
}

.first_screen .mod_tuan .mod_gb_hd {
	height: 50px
}

.first_screen .mod_tuan .mod_gb_hd dt {
	width: 39px;
	background-position: -84px top
}

.first_screen .mod_tuan .mod_gb_hd dt a {
	display: block;
	width: 39px;
	height: 20px
}

.first_screen .mod_tuan .countdown {
	float: right;
	width: 99px;
	height: 12px;
	margin: 3px 3px 0 0;
	_margin-right: -9px;
	line-height: 12px;
	color: #fff;
	background:
		url(../../front/images/index_text_dot.png)
		no-repeat 21px -66px
}

.first_screen .mod_tuan .countdown span { #
	overflow: hidden;
	display: block;
	float: left;
	width: 16px;
	height: 12px;
	margin-right: 15px;
	padding-right: 2px;
	text-align: right;
	line-height: 12px; #
	line-height: 15px;
	_line-height: 13px;
	background-color: #474E5D
}

.first_screen .mod_tuan .pic_wrap {
	overflow: hidden;
	width: 160px;
	height: 160px;
	margin: 0 auto;
	line-height: 160px
}

.first_screen .mod_tuan .pic_wrap img {
	width: 160px;
	vertical-align: middle
}

.first_screen .mod_tuan .name_wrap {
	overflow: hidden;
	height: 39px;
	margin-bottom: 5px;
	padding: 13px 10px 0 10px;
	line-height: 18px;
	_line-height: 19px;
	font-size: 14px
}

.first_screen .mod_tuan .price_wrap {
	position: relative;
	height: 40px;
	padding-left: 2px
}

.first_screen .mod_tuan .arrow {
	display: block;
	width: 17px;
	height: 39px;
	background:
		url(../../front/images/first_screen_dot.png)
		no-repeat -202px top;
	_background:
		url(../../front/images/first_screen_dot_ie6.png)
		no-repeat left top
}

.first_screen .mod_tuan .price_wrap .inner {
	position: absolute;
	top: 0;
	left: 18px;
	width: 176px;
	height: 39px;
	padding-left: 5px;
	line-height: 39px;
	background-color: #317EE7;
	color: #fff;
	font-size: 24px
}

.first_screen .mod_tuan .price {
	float: left;
	font-family: arial
}

.first_screen .mod_tuan .rmb {
	padding-right: 3px
}

.first_screen .mod_tuan .go:link,.first_screen .mod_tuan .go:visited,.first_screen .mod_tuan .go:hover,.first_screen .mod_tuan .go:active
	{
	display: inline-block;
	float: right;
	width: 76px;
	height: 29px;
	margin: 5px 4px 0 0;
	background-color: #FFBA00;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 29px;
	border-radius: 2px
}

.first_screen .mod_tuan .data_list {
	position: relative;
	overflow: hidden;
	height: 49px;
	margin-top: 7px; #
	margin: 4px 0 -3px 0
}

.first_screen .mod_tuan .data_list .inner { #
	width: 220px;
	position: absolute;
	left: -1px;
	bottom: 0;
	_bottom: -1px;
	height: 49px;
	margin-right: -10px
}

.first_screen .mod_tuan .data_list dl {
	float: left;
	width: 65px;
	height: 49px;
	text-align: center;
	font-size: 14px;
	border-right: 1px #E1E1E1 solid;
	border-left: 1px #fff solid;
	background-color: #F0F0F0
}

.first_screen .mod_tuan .data_list dt {
	padding-top: 5px;
	color: #444
}

.first_screen .mod_tuan .data_list dd {
	padding: 0 2px;
	color: #666;
	font-family: arial
}

.first_screen .cate_area {
	overflow: hidden;
	height: 715px
}

.first_screen .recon {
	display: none;
	overflow: hidden;
	height: 78px;
	margin-top: 10px
}

.first_screen .recon img {
	width: 200px;
	height: 78px
}

.first_screen .row_left_bj .cate_area {
	height: 653px
}

.first_screen .row_left_bj .recon,.first_screen .row_left_bj .recon img
	{
	display: block;
	height: 50px
}

.first_screen .row_left_hb .cate_area {
	height: 649px
}

.first_screen .row_left_hb .recon,.first_screen .row_left_hb .recon img
	{
	display: block;
	height: 54px
}

.mod_floor { #
	position: relative; #
	overflow: hidden;
	clear: both;
	height: 623px
}

.mod_floor .floor_hd {
	position: relative;
	overflow: hidden;
	height: 46px
}

.mod_floor .floor_hd .name {
	display: inline-block;
	width: 82px;
	height: 20px;
	margin-right: 3px;
	background:
		url(../../front/images/index_text_dot.png)
		no-repeat left top
}

.mod_floor .floor_hd .name_en {
	-webkit-text-size-adjust: none;
	display: inline-block;
	vertical-align: text-top;
	_margin-top: -2px;
	margin-right: 3px;
	font-size: 9px
}

.mod_floor .floor_hd .dot_arrow { #
	vertical-align: middle;
	display: inline-block;
	width: 12px;
	height: 11px; #
	margin-top: -2px;
	_margin-top: 1px;
	background:
		url(../../front/images/index_floor_dot.png)
		no-repeat -148px -289px;
	_background:
		url(../../front/images/index_floor_dot_ie6.png)
		no-repeat -143px -22px
}

.mod_floor .floor_hd h3 {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #8A8A8A;
	font-weight: normal
}

.mod_floor .floor_hd h3 a:link,.mod_floor .floor_hd h3 a:visited,.mod_floor .floor_hd h3 a:hover,.mod_floor .floor_hd h3 a:active
	{
	display: inline-block;
	color: #8A8A8A;
	text-decoration: none;
	_background-position: -143px -22px
}

.mod_floor .floor_hd h3 a:hover .dot_arrow {
	background-position: -162px -289px;
	_background-position: -157px -22px
}

.mod_floor .floor_hd .hotwords {
	position: absolute;
	bottom: 5px;
	right: -5px
}

.mod_floor .floor_hd .hotwords li {
	float: left;
	padding: 0 8px;
	border-right: 1px #444 solid;
	color: #444;
	font-family: Tahoma
}

.mod_floor .floor_bd {
	_overflow: hidden;
	height: 541px
}

.mod_floor .floor_bd .col_left {
	width: 202px;
	margin-left: -985px;
	*font-size: 0
}

.more3c_1280 .mod_floor .floor_bd .col_left {
	margin-left: -1225px
}

.mod_floor .floor_bd .col_right {
	width: 210px;
	height: 539px;
	border-top: 2px #D0D0D0 solid;
	border-right: 1px #D0D0D0 solid;
	border-left: 1px #D0D0D0 solid;
	margin-left: -212px
}

.mod_floor .floor_bd .col_left p {
	overflow: hidden;
	width: 202px;
	height: 271px
}

.mod_floor .floor_bd .col_left li {
	overflow: hidden;
	width: 200px;
	height: 89px;
	border: 1px #D0D0D0 solid;
	border-bottom: none
}

.mod_floor .floor_bd .col_left li img {
	width: 200px;
	height: 89px
}

.mod_floor .floor_bd .goods_list {
	overflow: hidden;
	height: 539px;
	margin: 0 212px 0 202px;
	border-top: 2px #D0D0D0 solid
}

.mod_floor .floor_bd .goods_list ul { #
	width: 600px;
	_width: 580px; #
	overflow: hidden;
	margin: -1px -2px 0 0;
	_margin-right: -10px
}

.more3c_1280 .mod_floor .floor_bd .goods_list ul { #
	width: 820px;
	margin-right: -1px
}

.mod_floor .floor_bd .goods {
	float: left;
	width: 190px;
	height: 269px;
	border-top: 1px #E1E1E1 solid;
	border-right: 1px #E1E1E1 solid
}

.more3c_1280 .mod_floor .floor_bd .goods {
	width: 202px
}

.mod_floor .floor_bd .goods .pic_wrap {
	position: relative;
	height: 182px
}

.mod_floor .floor_bd .goods .litpic {
	position: relative;
	overflow: hidden;
	display: block;
	width: 190px;
	height: 202px;
	line-height: 202px; #
	font-size: 155px;
	text-align: center;
	margin-top: 20px;
}

.mod_floor .floor_bd .goods .litpic img {
	width: 160px;
	vertical-align: middle
}

.more3c_1280 .mod_floor .floor_bd .goods .litpic {
	width: 202px
}

.mod_floor .floor_bd .goods .litpic img {
	width: 160px
}

.mod_floor .floor_bd .goods .brand {
	position: absolute;
	top: 10px;
	left: 21px
}

.mod_floor .floor_bd .goods .price_wrap {
	overflow: hidden;
	height: 24px;
	padding: 0 21px
}

.mod_floor .floor_bd .goods .price_wrap .price {
	display: inline;
	height: 24px;
	margin-right: 10px;
	color: #F00000;
	font-size: 20px;
	font-family: arial
}

.mod_floor .floor_bd .goods .price_wrap span {
	font-size: 12px
}

.mod_floor .floor_bd .goods .title_wrap {
	overflow: hidden;
	width: 148px;
	height: 36px; #
	margin-right: 21px;
	padding: 2px 21px 0 21px; #
	padding-right: 0;
	line-height: 18px;
	word-wrap: break-word
}

.mod_floor .floor_bd .goods .sum_wrap {
	margin-left: 2px;
	color: #F94A5B
}

.more3c_1280 .mod_floor .floor_bd .goods .title_wrap,.more3c_1280 .mod_floor .floor_bd .goods .sum_wrap
	{
	width: 160px
}

.mod_floor .col_right .mod_tab {
	height: 336px
}

.mod_floor .col_right .tab_hd {
	_position: relative;
	overflow: hidden;
	_width: 210px;
	height: 33px;
	margin-top: -2px
}

.mod_floor .col_right .tab_hd ul {
	width: 215px;
	_width: 230px;
	height: 32px;
	margin-right: -4px;
	border-bottom: 1px #D0D0D0 solid
}

.mod_floor .col_right .tab_hd li {
	_position: relative;
	float: left;
	width: 105px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #666;
	background-color: #fff;
	border-top: 2px #D0D0D0 solid;
	border-right: 1px #D0D0D0 solid;
	cursor: pointer
}

.mod_floor .col_right .tab_hd .current {
	height: 31px;
	_margin-bottom: -1px;
	border-top: 2px #9C0 solid;
	color: #333
}

.mod_floor .col_right .tab_bd {
	overflow: hidden
}

.mod_floor .col_right .tab_bd ul {
	margin-top: -1px
}

.mod_floor .sale_hot li {
	overflow: hidden;
	height: 100px; #
	margin-bottom: -3px;
	border-top: 1px #E1E1E1 dashed
}

.mod_floor .sale_hot .pic_wrap {
	float: left;
	position: relative;
	overflow: hidden;
	padding: 10px;
	font-size: 0;
	height: 80px;
	line-height: 80px
}

.mod_floor .sale_hot .dot_first {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 22px;
	height: 22px;
	background:
		url(../../front/images/index_floor_dot.png)
		no-repeat left -244px
}

.mod_floor .sale_hot .dot_secend {
	background-position: -24px -244px
}

.mod_floor .sale_hot .dot_third {
	background-position: -48px -244px
}

.mod_floor .sale_hot .pic_wrap img {
	overflow: hidden;
	width: 80px;
	vertical-align: middle
}

.mod_floor .sale_hot .txt_wrap {
	float: left;
	width: 110px
}

.mod_floor .sale_hot .price {
	padding-top: 6px;
	color: #f00000;
	font-size: 16px
}

.mod_floor .sale_hot .price span {
	margin-right: 3px;
	font-size: 12px;
	font-family: arial
}

.mod_floor .sale_hot .name {
	overflow: hidden;
	height: 34px;
	margin: 4px 5px 4px 0;
	word-wrap: break-word
}

.mod_floor .sale_hot .feedback a:link,.mod_floor .sale_hot .feedback a:visited,.mod_floor .sale_hot .feedback a:hover,.mod_floor .sale_hot .feedback a:active
	{
	color: #4B97FF
}

.mod_floor .sale_hot .feedback .rank {
	vertical-align: top;
	margin-top: 2px
}

.mod_floor .best_feed li {
	height: 151px
}

.mod_floor .best_feed .goods_info {
	overflow: hidden;
	height: 87px
}

.mod_floor .best_feed .goods_info .pic_wrap {
	height: 60px;
	line-height: 60px
}

.mod_floor .best_feed .goods_info img {
	width: 60px
}

.mod_floor .best_feed .feed_info {
	height: 71px;
	padding: 0 8px
}

.mod_floor .best_feed .feed_info .dot_feed {
	display: inline-block; #
	vertical-align: middle;
	width: 12px;
	height: 10px;
	_margin-top: 4px;
	margin-right: 3px;
	background:
		url(../../front/images/index_floor_dot.png)
		no-repeat -177px -289px
}

.mod_floor .best_feed .feed_info dt {
	overflow: hidden;
	height: 34px
}

.mod_floor .best_feed .feed_info dd {
	line-height: 20px;
	text-align: right;
	color: #999;
	font-family: Tahoma
}

.mod_floor .best_feed .name {
	margin: 16px 0 13px 0; #
	line-height: 18px
}

.mod_floor .mod_recharge {
	height: 181px;
	padding: 10px;
	border-top: 1px #D0D0D0 solid
}

.mod_floor .mod_recharge .bd {
	margin-bottom: 12px;
	font-size: 16px;
	color: #333
}

.mod_floor .mod_recharge .row { #
	overflow: hidden;
	height: 19px;
	margin-bottom: 8px; #
	margin-bottom: 5px;
	_margin-bottom: 4px
}

.mod_floor .mod_recharge .row label {
	float: left;
	display: block;
	width: 48px;
	text-align: right
}

.mod_floor .mod_recharge .row .num_option,.mod_floor .mod_recharge .row p
	{
	float: left;
	position: relative;
	z-index: 5
}

.mod_floor .mod_recharge .row .num_option {
	z-index: 10
}

.mod_floor .mod_recharge .row_submit {
	height: 28px
}

.mod_floor .mod_recharge .num_option p {
	width: 128px;
	height: 19px;
	background:
		url(../../front/images/index_floor_dot.png)
		no-repeat left -268px
}

.mod_floor .mod_recharge .num_option input {
	float: left;
	width: 94px;
	height: 17px;
	padding: 0 2px 0 10px;
	line-height: 17px;
	background-color: #FFF;
	border: 1px solid #BFBFBF;
	border-right: none
}

.mod_floor .mod_recharge .num_option .btn_select {
	display: block;
	float: left;
	width: 20px;
	height: 19px
}

.mod_floor .mod_recharge .price {
	color: #f00000
}

.mod_floor .mod_recharge .btn_submit {
	width: 96px;
	height: 28px;
	background-color: #DA2121;
	color: #fff;
	font-size: 14px;
	border: none;
	cursor: pointer
}

.mod_floor .mod_recon {
	height: 202px;
	font-size: 0
}

.mod_floor .mod_recon li {
	_overflow: hidden;
	height: 100px;
	border-top: 1px #D0D0D0 solid
}

.mod_floor .mod_recon li img {
	width: 210px;
	height: 100px
}

.mod_floor .mod_brand {
	height: 39px
}

.mod_floor .mod_brand .hd {
	float: left;
	width: 202px;
	height: 39px;
	background:
		url(../../front/images/index_floor_dot.png)
		no-repeat left top #9CD46D
}

.mod_floor .mod_brand .bd {
	position: relative;
	overflow: hidden;
	_float: left;
	width: 783px;
	height: 39px
}

.more3c_1280 .mod_floor .mod_brand .bd {
	width: 1023px
}

.mod_floor .mod_brand .bd p {
	height: 44px;
	background-color: #9CD46D
}

.mod_floor .mod_brand .bd ul {
	position: absolute;
	top: 0;
	left: 0
}

.mod_floor .mod_brand .bd li,.mod_floor .mod_brand .bd a {
	float: left;
	overflow: hidden;
	width: 130px;
	height: 39px
}

.more3c_1280 .mod_floor .mod_brand .bd li,.more3c_1280 .mod_floor .mod_brand .bd a
	{
	width: 127px
}

.mod_floor .mod_brand .bd a {
	display: block;
}

.mod_recharge_list {
	display: none;
	z-index: 2000;
	position: absolute;
	top: 19px;
	left: 0;
	width: 126px;
	border: 1px #BFBFBF solid;
	border-top: none;
	background-color: #fff
}

.mod_recharge_list li {
	height: 19px; #
	margin-bottom: -6px;
	_margin-bottom: -3px;
	line-height: 19px
}

.mod_recharge_list li a:link,.mod_recharge_list li a:visited,.mod_recharge_list li a:hover,.mod_recharge_list li a:active
	{
	display: block;
	float: left;
	width: 116px;
	height: 19px;
	padding-left: 10px;
	text-align: left;
	text-decoration: none;
	color: #444;
	background-color: #fff
}

.mod_recharge_list .even a:link,.mod_recharge_list .even a:visited,.mod_recharge_list .even a:hover,.mod_recharge_list .even a:active
	{
	background-color: #f2f2f2
}

.mod_recharge_list li a:hover,.mod_recharge_list .even a:hover {
	background-color: #D5ECFF
}

.mod_floor_unit0 {
	clear: both
}

.mod_floor_unit0,.mod_floor_unit0 .mod_floor {
	height: 322px
}

.mod_floor_unit0 .mod_floor {
	clear: none
}

.mod_floor_unit0 .f0 {
	float: left;
	width: 200px;
	margin-right: 10px
}

.mod_floor_unit0 .f1 {
	overflow: hidden;
	float: left;
	width: 775px; #
	position: relative
}

.more3c_1280 .mod_floor_unit0 .f1 {
	width: 1015px
}

.f0 .floor_hd .name {
	width: 61px;
	background-position: -209px top
}

.mod_floor_unit0 .mod_floor .floor_bd {
	height: 276px
}

.f0 .mod_ship {
	overflow: hidden;
	position: relative;
	width: 198px;
	height: 273px;
	border: 1px #D0D0D0 solid;
	border-top: 2px #D0D0D0 solid
}

.f0 .mod_ship ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 198px;
	height: 273px
}

.f0 .mod_ship li,.f0 .mod_ship li a {
	display: block;
	float: left;
	width: 99px;
	height: 91px
}


.f1 .floor_hd .name {
	background-position: -125px top
}

.f1 .floor_bd .goods_list {
	height: 273px;
	margin: 0;
	border: 1px #D0D0D0 solid;
	border-top: 2px #D0D0D0 solid
}

.f1 .floor_bd .goods_list ul { #
	width: 778px;
	margin-right: -10px
}

.more3c_1280 .f1 .floor_bd .goods_list ul { #
	width: 1017px;
	margin-right: -10px
}

.f1 .floor_bd .goods {
	width: 193px;
	height: 273px
}

.more3c_1280 .f1 .floor_bd .goods {
	width: 202px
}

.f1 .floor_bd .last {
	_overflow: hidden;
	width: 191px;
	_width: 191px
}

.f1 .floor_bd .goods .litpic {
	width: 193px
}

.more3c_1280 .f1 .floor_bd .goods .litpic {
	width: 202px
}

.more3c_1280 .f1 .floor_bd .last {
	width: 202px
}

.f1 .pic_wrap i {
	display: none
}

.f2 .floor_hd .name {
	background-position: left -22px
}

.f3 .floor_hd .name {
	background-position: -83px -22px
}

.f3_bj .floor_hd .name,.f3_gd .floor_hd .name {
	width: 40px
}

.f3 .mod_brand .hd {
	background-position: left -41px;
	background-color: #7BC6E5
}

.f3 .mod_brand .bd p {
	background-color: #7BC6E5
}

.f3 .col_right .tab_hd .current {
	border-top: 2px #6FC0FF solid
}

.f3 .sale_hot .dot_first {
	background-position: -72px -244px
}

.f3 .sale_hot .dot_secend {
	background-position: -96px -244px
}

.f3 .sale_hot .dot_third {
	background-position: -120px -244px
}

.f4 .floor_hd .name {
	background-position: left -44px
}

.f4 .floor_hd .dot_call:link,.f4 .floor_hd .dot_call:visited,.f4 .floor_hd .dot_call:hover,.f4 .floor_hd .dot_call:active
	{ #
	vertical-align: text-bottom; #
	margin-top: -4px;
	position: relative\9; #
	position: relative; #
	left: 10px; #
	top: -4px;
	_top: -3px;
	display: inline-block;
	width: 124px;
	height: 37px;
	margin-left: 10px;
	background:
		url(../../front/images/index_floor_dot.png)
		no-repeat left -205px;
	_background:
		url(../../front/images/index_floor_dot_ie6.png)
		no-repeat left top
}

.f4 .mod_brand .hd {
	background-position: left -82px;
	background-color: #F1B662
}

.f4 .mod_brand .bd p {
	background-color: #F1B662
}

.f4 .col_right .tab_hd .current {
	border-top: 2px #FFB955 solid
}

.f4 .sale_hot .dot_first {
	background-position: -126px -205px
}

.f4 .sale_hot .dot_secend {
	background-position: -150px -205px
}

.f4 .sale_hot .dot_third {
	background-position: -174px -205px
}

.mod_floor_unit,.mod_floor_unit .mod_floor {
	height: 353px
}

.mod_floor_unit .f5 {
	width: 582px
}

.mod_floor_unit .mod_floor {
	overflow: hidden;
	float: left;
	clear: none;
	margin-right: 10px
}

.more3c_1280 .mod_floor_unit .mod_floor {
	width: 607px;
	margin-right: 11px
}

.mod_floor_unit .mod_floor .floor_bd .col_left {
	float: left;
	margin-left: 0;
	border-top: 1px #D0D0D0 solid
}

.mod_floor_unit .mod_floor .floor_bd {
	overflow: hidden;
	height: 268px
}

.mod_floor_unit .mod_floor .floor_bd .goods_list {
	float: right;
	position: relative;
	width: 379px;
	height: 266px;
	margin: 0;
	border-right: 1px #D0D0D0 solid
}

.more3c_1280 .mod_floor_unit .mod_floor .floor_bd .goods_list {
	width: 404px
}

.mod_floor_unit .mod_floor .floor_bd .tab_bd {
	position: absolute;
	top: -1px;
	_top: -2px;
	left: 0;
	width: 1212px; #
	width: 1812px;
	margin: 0
}

.mod_floor_unit .mod_floor .floor_bd .tab_hd {
	z-index: 10;
	position: absolute;
	top: 7px;
	right: 3px;
	width: 60px;
	margin: 0
}

.mod_floor_unit .mod_floor .floor_bd .tab_hd_narrow {
	right: -3px
}

.more3c_1280 .mod_floor_unit .mod_floor .floor_bd .tab_hd {
	width: 60px
}

.mod_floor_unit .mod_floor .tab_hd li {
	margin-right: 5px
}

.mod_floor_unit .mod_floor .tab_hd li,.mod_floor_unit .mod_floor .tab_hd li a
	{
	display: block;
	float: left;
	width: 15px;
	height: 14px;
	text-align: center;
	line-height: 14px
}

.mod_floor_unit .mod_floor .tab_hd li a:link,.mod_floor_unit .mod_floor .tab_hd li a:visited,.mod_floor_unit .mod_floor .tab_hd li a:hover,.mod_floor_unit .mod_floor .tab_hd li a:active
	{
	text-decoration: none;
	color: #666
}

.mod_floor_unit .mod_floor .tab_hd .current a:link,.mod_floor_unit .mod_floor .tab_hd .current a:visited,.mod_floor_unit .mod_floor .tab_hd .current a:hover,.mod_floor_unit .mod_floor .tab_hd .current a:active
	{
	text-decoration: none;
	color: #666;
	background:
		url(../../front/images/index_floor_dot.png)
		no-repeat -131px -289px;
	color: #fff;
	_background:
		url(../../front/images/index_floor_dot_ie6.png)
		no-repeat -126px -22px
}

.mod_floor_unit .mod_floor .tab_hd .next,.mod_floor_unit .mod_floor .tab_hd .prev
	{
	margin-right: 15px
}

.mod_floor_unit .mod_floor .tab_hd .next,.mod_floor_unit .mod_floor .tab_hd .prev,.mod_floor_unit .mod_floor .tab_hd .next a,.mod_floor_unit .mod_floor .tab_hd .prev a
	{
	float: left;
	display: block;
	width: 15px;
	height: 14px;
	background:
		url(../../front/images/index_floor_dot.png)
		no-repeat -161px -244px
}

.mod_floor_unit .mod_floor .tab_hd .prev a {
	background-position: -144px -244px
}

.mod_floor_unit .mod_floor .tab_hd .next a:hover {
	background-position: -143px -229px
}

.mod_floor_unit .mod_floor .tab_hd .prev a:hover {
	background-position: -126px -229px
}

.mod_floor_unit .mod_floor .tab_hd .next_disabled a,.mod_floor_unit .mod_floor .tab_hd .next_disabled a:hover
	{
	background-position: -177px -229px;
	cursor: default
}

.mod_floor_unit .mod_floor .tab_hd .prev_disabled a,.mod_floor_unit .mod_floor .tab_hd .prev_disabled a:hover
	{
	background-position: -160px -229px;
	cursor: default
}

.mod_floor_unit .mod_floor .floor_bd .goods {
	border-right: none
}

.mod_floor_unit .mod_floor .mod_brand .bd {
	_float: left;
	width: 380px
}

.more3c_1280 .mod_floor_unit .mod_floor .mod_brand .bd {
	width: 405px
}

.more3c_1280 .mod_floor_unit .mod_floor .mod_brand .bd li,.more3c_1280 .mod_floor_unit .mod_floor .mod_brand .bd a
	{
	width: 135px
}

.mod_floor_unit .mod_floor .mod_brand img {
	margin-left: -18px
}

.more3c_1280 .mod_floor_unit .mod_floor .mod_brand img {
	margin-left: 0
}

.mod_floor_unit .pic_wrap i {
	display: none
}

.f5 .floor_hd .name {
	width: 41px;
	background-position: -84px -44px;
	background-color: #BDC5D0
}

.f5 .mod_brand .hd {
	background-position: left -123px
}

.f5 .mod_brand .hd p {
	background-color: #BDC5D0
}

.mod_floor_unit .f5 .floor_bd .tab_bd ul,.mod_floor_unit .f6 .floor_bd .tab_bd ul
	{
	float: left; #
	width: auto;
	margin-left: 0;
	_margin-right: 0
}

.f5 .mod_brand .bd li,.f5 .mod_brand .bd a {
	width: 126px
}

.more3c_1280 .f5 .mod_brand .bd li,.more3c_1280 .f5 .mod_brand .bd a {
	width: 130px
}

.f5_gd .floor_hd .name,.f5_bj .floor_hd .name {
	width: 41px;
	background-position: -123px -22px
}

.f5_gd .mod_brand .hd,.f5_bj .mod_brand .hd {
	background-position: left -164px
}

.mod_floor_unit .f6 {
	width: 393px;
	margin-right: 0
}

.more3c_1280 .mod_floor_unit .f6 {
	width: 607px;
	margin-right: 0
}

.mod_floor_unit .f6 .floor_bd .goods_list {
	width: 190px
}

.mod_floor_unit .f6 .mod_brand .bd {
	width: 191px
}

.f6 .floor_hd .name {
	background-position: -127px -44px
}

.f6 .mod_brand .hd {
	background-position: left -164px;
	background-color: #C5ADD8
}

.f6 .mod_brand .bd p {
	background-color: #C5ADD8
}

.f6 .mod_brand img {
	margin-left: 25px
}

.more3c_1280 .f6 .mod_brand img {
	margin-left: 0
}

.f6 .mod_brand .bd li,.f6 .mod_brand .bd a {
	width: 188px
}

.more3c_1280 .f6 .mod_brand .bd li,.more3c_1280 .f6 .mod_brand .bd a {
	width: 126px
}

.f6_bj .floor_hd .name,.f6_gd .floor_hd .name {
	width: 41px;
	background-position: -84px -44px
}

.f6_gd .mod_brand .hd,.f6_bj .mod_brand .hd {
	background-position: left -123px
}

.f7 { #
	overflow: hidden; #
	position: relative;
	height: 317px
}

.f7 .floor_bd {
	height: 271px
}

.f7 .floor_bd .goods_list {
	height: 269px;
	margin-right: 0
}

.f7 .floor_bd .goods_list ul { #
	width: 790px
}

.more3c_1280 .f7 .floor_bd .goods_list ul {
	width: auto
}

.f7 .floor_bd .goods {
	width: 194px;
	border-top: none;
	border-bottom: 1px #E1E1E1 solid
}

.more3c_1280 .f7 .floor_bd .goods {
	width: 203px
}

.f7 .floor_bd .goods .litpic {
	width: 194px
}

.more3c_1280 .f7 .floor_bd .goods .litpic {
	width: 203px
}

.f7 .floor_bd .last,.f7 .floor_bd .last .litpic {
	width: 197px
}

.more3c_1280 .f7 .floor_bd .last,.more3c_1280 .f7 .floor_bd .last .litpic {
	width: 206px
}

.f7 .floor_hd .name {
	background-position: -166px -22px
}

.f7 .floor_bd .litpic i { #
	top: 1px
}

.f7 .ss_tejia {
	_right: -336px
}

.f7 .ss_dujia {
	_right: -269px
}

.f7 .ss_xinpin {
	_right: -202px
}

.f7 .ss_renqi {
	_right: -135px
}

.f7 .ss_jinkou {
	_right: -68px
}

.f7 .ss_xianshi {
	_right: -1px
}

#GeneratedByCssGaga177 {
	transform: rotate(20120607184127deg)
}