@charset "utf-8";

/* 组件_input_S */
input{ vertical-align:middle}
textarea{ vertical-align:top;}
input.input_mini{width:60px; height:20px; line-height:21px;}
input.input_short{ width:95px; height:20px; line-height:21px;}
input.input_blur {color:#aaa;}
input.input_focus {color:#333;}
input.input_long{ width:300px; height:20px; line-height:21px;}
textarea.textarea_long{ width:300px;  line-height:21px;}
input.btn,
button.btn{line-height:16px;padding:0 3px;font-size:12x;*height:22px;*line-height:18px; vertical-align:middle}

/* loading_S */
span.loading_82_21,
span.loading_58_58{ height:150px; display:block; text-indent:-9999px; }
span.loading_82_21,
.loading_82_21 img{background:url(/static_v1/ac/gif/loading_82_21.gif) no-repeat center;}
span.loading_58_58,
.loading_58_58 img{background:url(/static_v1/ac/gif/loading_58_58.gif) no-repeat center;}

/* 	组件_提示条_外框
	样式组合 i_para_inb i_para_right  _S */
.para_inb{ font-family:simsun;display:inline-block; *display:inline;*zoom:1; padding:1px 10px 3px 5px; _padding:5px 10px 1px 5px;
color:#333333; line-height:18px; border:1px solid #E7D3B8; background-color:#FFFFE3;}
.para_blo {position:relative;clear:both;overflow:hidden;zoom:1;text-align:left; margin-bottom:10px;border:1px solid #E7D3B8; background-color:#FFFFE3;}
.para_blo .inner{ padding:20px 10px 20px 85px;*padding:10px 10px 20px 85px}
.para_blo .bd{ padding:20px 0 10px 0}
.para_blo .hd .tit{ font-size:14px;}
.para_blo .hd a:link,
.para_blo .hd a:visited {color:#096DBA;}
.para_blo .hd a:hover {color:#D4105A;}
.para_blo .icon_msg3{ position:absolute;  margin-left:-45px;top:15px}
.para_blo .icon_msg4{ position:absolute;  margin-left:-58px;top:11px}

.para_tips{ padding:5px 15px; }

/* 	组件_提示条
	样式组合 icon icon_msg0 icon_msg0_right  _S */
.icon{display:inline-block; display:-moz-inline-stack; *zoom:1;*display:inline;vertical-align:middle; margin-right:5px; font-size:0;  }

.icon_msg0{ width:12px; height:12px; background:url(/static_v1/img/package/icon12x12.png) no-repeat}
.icon_msg0_right { background-position:0 0; }
.icon_msg0_error { background-position:-20px 0; }
.icon_msg0_warn { background-position:-40px 0; }

.icon_msg3{width:32px;height:32px;background:url(/static_v1/img/package/icon32x32.png) no-repeat;}
.icon_msg3_right{background-position:0 0;}
.icon_msg3_error{background-position:-40px 0;}
.icon_msg3_warn{background-position:-80px 0;}

.icon_msg4{width:48px;height:48px;background:url(/static_v1/img/package/icon48x48.png) no-repeat;}
.icon_msg4_right{background-position:0 0;}
.icon_msg4_error{background-position:-50px 0;}
.icon_msg4_warn{background-position:-100px 0;}


.logo_16x16{width:15px; height:16px;background:url(/static_v1/img/package/logo_all.png) no-repeat;display:inline-block; display:-moz-inline-stack; *zoom:1;*display:inline;vertical-align:middle; margin-right:5px; font-size:0; }
.logo_qq{ background-position:0 0; }
.logo_zfb{ background-position:0 -30px;  }
.logo_renren{ background-position:0 -60px}
.logo_qzone{ background-position:0 -90px}
.logo_kaixin{ background-position:0 -120px}
.logo_tx_weibo{ background-position:0 -150px}
.logo_sina_weibo{ background-position:0 -180px}

/* 组件_按钮 */
.wrap_btn a:hover{ text-decoration:none}
.btn_strong {display:inline-block;height:24px;padding:0px 20px;font:bold 12px/24px Arial;line-height:26px\9;overflow:hidden;zoom:1;cursor:pointer;
background: #2372cf; /* Old browsers */
background: -moz-linear-gradient(top, #2372cf 0%, #3064af 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2372cf), color-stop(100%,#3064af)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #2372cf 0%,#3064af 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #2372cf 0%,#3064af 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #2372cf 0%,#3064af 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2372CF', endColorstr='#3064AF',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #2372cf 0%,#3064af 100%); /* W3C */
}
.btn_common {display:inline-block;height:22px;padding:0px 18px;border:1px solid #CDCDCD;font:normal 12px/22px Arial;line-height:24px\9;overflow:hidden;zoom:1;cursor:pointer;
background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top, #fefefe 0%, #f1f1f1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f1f1f1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fefefe 0%,#f1f1f1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fefefe 0%,#f1f1f1 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fefefe 0%,#f1f1f1 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FEFEFE', endColorstr='#F1F1F1',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #fefefe 0%,#f1f1f1 100%); /* W3C */
}
a.btn_strong:link,
a.btn_strong:visited { color:#FFF; }
a.btn_strong:hover {color:#FFF;text-decoration:none;}
a.btn_common:link,
a.btn_common:visited { color:#333; }
a.btn_common:hover {color:#333;text-decoration:none;}
.btn_strong_big {height:36px;font:300 16px/36px "\5FAE\8F6F\96C5\9ED1",Arial;}
.btn_common_big {height:34px;font:300 16px/34px "\5FAE\8F6F\96C5\9ED1",Arial;}


/* 组件_翻页_S */
.page_wrap{ clear:both; margin-bottom:10px; overflow:hidden;zoom:1;}
.paginator { float:right; height:25px; overflow:hidden; }
.paginator,
.paginator input,
.paginator button { font-family:Tahoma, "宋体"; font-size:12px; }
.paginator a,
.paginator span { float:left; height:23px; margin:0 5px 0 0; text-align:center; white-space:nowrap; vertical-align:middle; line-height:23px; background:#fff; }
.paginator a { color:#085C9B; }
.paginator b{ font-family:"宋体"; margin:3px;font-weight:300;}
.paginator a:link,
.paginator a:visited,
.paginator a:hover,
.paginator a:active { text-decoration:none; }
.paginator .page-start,
.paginator a,
.paginator .page-end { padding:0 8px; border:1px solid #D3D3D3; background:#ffffff; }
.paginator .page-start { border-color:#d9d9d9; color:#d9d9d9; }
.paginator .page-end {  border-color:#d9d9d9;  color:#d9d9d9; }
.paginator .page-this,
.paginator .page-break { padding:0 3px; }
.paginator .page-break { border:1px solid #fff; }
.paginator .page-this { border:1px solid #D3D3D3;background-color:#E9E9E9; color:#D4105A;padding:0px 8px; font-weight:bold; }
.paginator .page-skip { height:22px; line-height:22px; padding:0 3px; margin:0; background:none; }
.paginator .page-skip input { width:26px;  *width:23px;height:19px;line-height:19px;border:1px #D3D3D3 solid;font-size:12px; margin:-1px 6px 0px 6px;#margin-top:1px;_margin-top:0px;padding:0px 0px 0px 2px; vertical-align:middle; padding-top:0px; padding-bottom:0px; }
.paginator .page-skip button { font-size:12px; padding:0 5px 5px 5px;_padding:0 5px 0 5px; width:auto; _width:0; height:22px;  *height:23px; *line-height:20px; _height:16px; _line-height:16px; margin-left:10px;  *margin-top:-1px;overflow:visible; vertical-align:top; }
.paginator a:hover { border:1px solid #A6A6A6;color:#868688; }



/* 组件_提示框_S */
.layer_global{background:white;border:2px solid #DAE7F3;zoom:1;z-index:5001;position:absolute;text-align:left; width:500px;}
.layer_global .layer_global_main{position:relative; z-index:2}
.layer_global .layer_global_title{background:#f6f6f6;padding:8px 20px 10px 12px;text-align:left;clear:both;zoom:1;cursor: move;zoom:1; _position:relative;}
.layer_global .layer_global_title h3{display:inline-block;text-indent:5px;font-size:14px;}
.layer_global .layer_global_title h3 .jian{width:6px;height:10px;vertical-align:middle;overflow:hidden;display:inline-block;margin-right:5px; display:none}
.layer_global .layer_global_title button{ background:url(/static_v1/img/bg_goods.png) -103px -13px;position:absolute;top:13px;right:10px;text-indent:-9999px;width:9px;height:9px;overflow:hidden;outline:none;cursor:pointer; border:none}
.layer_global .layer_global_cont{zoom:1;}
.layer_global .layer_global_cont:after{content:"";visibility:hidden;height:0;line-height:0;clear:both;display:block}
.layer_global .layer_cont_15 {padding:15px;}
.layer_global .layer_cont_30 {padding:30px;}
.layer_global .ieframe{position:absolute;top:0px;left:0px;width:100%;background:none; border:none; z-index:-50;filter:alpha(opacity=0); }
.layer_mask_layout{background-color:#000000;left:0;filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2;position:fixed; _position:absolute;top:0;left:0;width:100%;}
/* 组件_提示框_内容_S */
.layer_global .layer_global_mod{padding:0px 0px 0px 120px;line-height:22px; font-size:12px; position:relative;zoom:1;}
.layer_global .layer_global_mod .layer_global_tit{ font-size:14px;}
.layer_global .layer_global_mod .wrap_btn{ padding:5px 0 0;}
.layer_global .layer_global_mod .icon_msg4{ position:absolute;left:52px;}

/* 组件_提示框 按钮 */
.layer_global .btn_strong {padding:0px 10px;margin-right:5px;vertical-align:top;}
.layer_global .btn_common {padding:0px 8px;vertical-align:top;}


/* 组件_登录框_S */
/*.btn_login_with_qq {background-image:url(/static_v1/img/login/register.png);background-repeat:no-repeat;}
.btn_login_with_qq {display:inline-block;width:83px;height:24px;line-height:90px;overflow:hidden;background-position:0px 0px;vertical-align:middle;margin-left:8px;outline:none;}*/
.layer_global_login{ width:670px;}
.layer_global_login .layer_global_cont{ padding:20px 0}
.layer_global_login .input_short{ width:240px;height:23px;line-height:23px;border:1px solid #CCCCCC;text-indent:5px;}
.layer_global_login .login_qq{ margin-bottom:10px;width:295px;padding:4px 0px;text-indent:10px;background-color:#F3F3F3;}
.layer_global_login .login_other {text-indent:10px;}
.layer_global_login .layer_login{ float:left; width:330px; padding:0 0 20px 25px;border-right:2px solid #EAEAEA;}
.layer_global_login .layer_register{ float:left;padding-left:40px; height:195px; }
.layer_global_login .layer_register .hd {font:normal 24px/28px "\5FAE\8F6F\96C5\9ED1";color:#D4105A;}
.layer_global_login .layer_register .txt_tips{ margin:10px 0;}
.layer_global_login .layer_login .layer_login_info li{ padding-left:50px;margin-bottom:10px}
.layer_global_login .layer_login .layer_login_info .tit{ display:inline-block; margin-left:-50px; width:50px;font-size:14px;}
.layer_global_login .layer_login .btn_strong {padding:0px 20px;margin-right:10px;}
.layer_global_login .layer_login .btn_strong:link,
.layer_global_login .layer_login .btn_strong:visited {color:#FFF;}
.layer_global_login .layer_login .btn_strong:hover {color:#FFF;}
.layer_global_login .layer_login .layer_login_info .link_forget_pswd {display:inline-block;line-height:23px;line-height:25px\9;}
.layer_global_login .layer_login .layer_login_info .link_forget_pswd {display:inline;}
.layer_global_login .layer_login .layer_login_info a.link_forget_pswd:hover {text-decoration:underline;}
.layer_global_login .layer_login a:link,
.layer_global_login .layer_login a:visited {color:#085C9B;}
.layer_global_login .layer_login a:hover {color:#D4105A;}
.layer_global_login .layer_register a:link,
.layer_global_login .layer_register a:visited {color:#085C9B;}
.layer_global_login .layer_register a:hover {color:#D4105A;}

.layer_global_login .save_cookie_wrap label {cursor:pointer;}
.layer_global_login .save_cookie_wrap label input {#margin-top:-2px;_margin-top:-5px;#margin-left:-4px;margin-right:4px;}

.layer_global_login .login_other a{width:120px; height:24px; display:inline-block; line-height:90px; overflow:hidden; vertical-align:middle; outline:none;}
.layer_global_login .login_other .t{ display:block; height:25px;}
.layer_global_login .login_other .btn_login_with_qq{ background:url(/static_v1/img/login/tencentpay.png) no-repeat 0 0;  margin:0px 10px 0px 50px; _margin:0px 10px 0px 40px; }
.layer_global_login .login_other .btn_login_alipay{ background:url(/static_v1/img/login/alipay.png) no-repeat 0 0;}

/*带尖角的提示框*/
.global_tip{z-index:10000;border-radius: 5px 5px 5px 5px;-moz-border-radius: 5px 5px 5px 5px;-webkit-radius: 5px 5px 5px 5px;position:absolute;background: none repeat scroll 0 0 #FFFAE2; border: 1px solid #F5E190;width:100px;}
.global_tip .content{padding:8px}
.global_tip .buttons{padding:0px 5px 8px 5px}
.global_tip .buttons .btn_strong {vertical-align:middle;padding:0px 10px;margin-right:8px;}
.global_tip .buttons .btn_common {vertical-align:middle;padding:0px 9px;}
.global_tip .arrow{position:absolute;color: #F5E190;font: 12px/21px Simsun;}
.global_tip .arrow .inner{position:absolute;color: #FFFAE2;font: 12px/21px Simsun;left:0px;}

/* 旧组件上的按钮 */
.bt_nor {background:#e4e4e4;height:22px;line-height:22px;line-height:25px\9;display:inline-block;margin-right:5px; overflow:hidden;border:1px solid #CDCDCD;font-size:12px;vertical-align:middle;margin-top:-1px;}
.bt_nor span {background:url(/static_v1/img/bg_goods.png) no-repeat -1px -72px;height:100%;cursor:pointer;padding:0px 8px;display:inline-block;}
.bt_nor:link,
.bt_nor:visited {color:#333;}
.bt_nor:hover {color:#D4105A;text-decoration:none;}
/*搜索自动下拉*/
.autocomplete{position:absolute;background:#ffffff;border: 1px solid #817F82;display:none;z-index:100;margin:0px;padding:0px;width:312px;}
.more3c_1280 .autocomplete{width:352px}
.autocomplete_status_on{display:block;}
.autocomplete li {height:25px;line-height:25px;font-size:12px;cursor:pointer;margin:0px;padding:0px 5px 0px 5px;list-style-type:none;clear:both;background:#FFFFFF;color:#000000;}
.autocomplete li span{display: block;
    float: left;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    text-align: left;
    width: 185px;}
.autocomplete li cite{height:25px;line-height:25px;font-style:normal;float:right;color:#666}
.autocomplete li.status_on {background:#E2EAFF}

/* 库存条 */
.stock {height:18px; _padding-top:3px;}
.stock .stock_zero,.stock .stock_less, .stock .stock_enough {overflow:hidden;display:inline-block;width:51px;height:5px;border:1px #BCBCBC solid;background-color:#fff;}
.stock .stock_less {border-color:#F13B3B;}
.stock .stock_enough {border-color:#A3D392;}
.stock .stock_zero_inner, .stock .stock_less_inner, .stock .stock_enough_inner {display:inline-block;float:left;width:0px;height:5px;background-color:#F13B3B;}
.stock .stock_zero_inner {background-color:#fff;}
.stock .stock_less_inner {background-color:#F13B3B;}
.stock .stock_enough_inner {background-color:#A3D392;}