@charset "utf-8";

/* search by tank */
/* layout */
.main {
	width: 985px;
	margin: 0 auto;
	text-align: left
}

.sidebar {
	width: 185px;
	float: left
}

.content {
	width: 790px;
	float: right;
}

.icon_star,.icon_star b {
	background: url(../../front/images/header_full.png) no-repeat -55px
		-48px;
	height: 13px;
	width: 75px;
}

.icon_star {
	line-height: 0;
	display: inline-block;
	margin: 0 3px;
	vertical-align: middle;
	margin-top: -3px;
	_margin-top: 2px;
	_vertical-align: text-top;
	overflow: hidden;
}

.icon_star b {
	background-position: -55px -61px;
	display: block;
	line-height: 0;
	overflow: hidden;
}

/* clear float */
.main,.mod_goods,.list_goods .item_list,.list_good {
	zoom: 1
}

.mod_goods {
	position: relative;
}

.main:after,.mod_goods:after,.list_good:after,.list_goods .item_list:after
	{
	clear: both;
	display: block;
	visibility: hidden;
	content: "";
	height: 0;
	line-height: 0;
}

/* mod_sidebar */
.mod_blue {
	border: 1px solid #d7d7d7;
	zoom: 1;
	margin-bottom: 10px;
	position: relative;
	clear: both;
	background-color: #f3f3f3;
}

.mod_blue .inner .hd {
	padding: 7px 0 7px 12px;
	position: relative;
	zoom: 1
}

.mod_blue .inner .hd h3 {
	font-size: 14px;
}

.sort_product .inner .hd h3 {
	color: #3164af;
}

.mod_blue .inner .bd:after {
	content: "";
	display: block;
	visibility: hidden;
	line-height: 0;
	height: 0;
	clear: both
}

.sort_product .con {
	overflow: hidden;
	width: 183px;
	margin-bottom: -1px;
	padding-bottom: 2px;
	border-bottom: 1px #D7D7D7 solid;
}

.sort_product .con dl {
	overflow: hidden;
	width: 200px;
}

.sort_product .con a {
	display: block;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}

.sort_product .con .list_sort dt a {
	font-weight: bold;
	padding: 2px 12px 3px;
	margin: 0 -8px
}

.sort_product .con .list_sort dd {
	float: left;
	width: 86px;
	height: 25px;
	padding: 5px 0px 0px 6px;
}

.sort_product .con .list_sort dd a {
	overflow: hidden;
	width: 70px;
	height: 20px;
	padding-left: 4px;
	line-height: 20px; #
	line-height: 22px;
	zoom: 1;
}

.sort_product .con .list_sort dd a:link,.sort_product .con .list_sort dd a:visited
	{
	color: #085C9B;
}

.sort_product .con .list_sort dd a:hover {
	color: #D4105A;
}

.sort_product .con .list_sort dd .sel {
	border: none;
	background: url(../../front/images/bg_search_v3.png) no-repeat left -29px;
	text-decoration: none;
}

.sort_product .con .list_sort dd .sel:link,.sort_product .con .list_sort dd .sel:visited,.sort_product .con .list_sort dd .sel:hover
	{
	color: #ffffff;
}

.sort_product .tit {
	font-size: 12px;
	padding: 6px 12px 8px 12px;
	font-weight: normal;
}

.sort_product .link_more a {
	padding: 4px 12px 6px;
	font-weight: bold;
	display: block
}

/* mod_search_info */
.ft_cond .selected_area .selected a i {
	background: url(../../front/images/bg_search.png) no-repeat;
}

/*.mod_hui .search_info,*/
.wrap_close p .btn_click,.wrap_close p .btn_click b {
	background: url(../../front/images/bg_search_v3.png) no-repeat;
}

.mod_hui {
	margin-bottom: 10px;
	position: relative;
	zoom: 1;
	_padding-top: 1px
}

.mod_hui input {
	vertical-align: middle;
	margin-right: 3px;
}

.mod_hui select {
	vertical-align: middle
}

.mod_hui .strong {
	color: #D4105A
}

.mod_hui .search_info {
	background: #FFFAE2;
	padding: 6px 10px 8px 10px;
	border: 1px solid #F5E190
}

.mod_hui .search_more {
	background: #E7F2FC;
	padding: 6px 10px 8px 10px
}

.mod_hui .search_more a {
	padding-right: 15px;
}

.mod_hui .more {
	position: absolute;
	top: 7px;
	right: 10px;
}

.mod_hui .bt_nor {
	background: url(../../front/images/bg_search.png) no-repeat 0 0;
	border-bottom: 1px solid #006edc;
	border-top: 1px solid #006edc;
	display: inline-block;
	margin: 0 1px;
	zoom: 1;
	color: white;
	height: 19px;
	line-height: 18px;
	overflow: visible;
	vertical-align: middle;
}

.mod_hui .bt_nor span {
	margin: 0 -1px;
	zoom: 1;
	position: relative;
	*left: -1px;
	padding: 0 5px 0 5px;
	border-left: 1px solid #006edc;
	border-right: 1px solid #006edc;
	background: none;
	height: 19px;
	line-height: 18px;
	color: white;
}

.mod_hui .bt_nor:hover {
	text-decoration: none
}

.mod_hui .transport-w {
	width: 142px;
}

/* 3g手机卡 */
.id_phone .list_jieguo {
	overflow: hidden;
	zoom: 1
}

.id_phone .list_jieguo li {
	float: left;
	width: 183px;
	padding: 8px 0 8px 8px;
}

.id_phone .list_jieguo li.hui {
	background: #f4f4f4
}

/* mod_search_Conditions1 */
.ft_cond {
	margin-bottom: 30px;
}

.ft_cond .selected_area {
	overflow: hidden;
	zoom: 1;
	padding: 6px 10px;
	margin: 0 -10px;
	background-color: #fff;
	border-bottom: 1px solid #c4d8ea;
}

.ft_cond .selected_area dt {
	float: left;
	width: 85px;
	padding-right: 9px;
	color: #000;
	text-align: right;
}

.ft_cond .selected_area dd a:link,.ft_cond .selected_area dd a:visited {
	background-color: transparent;
}

.ft_cond .selected_area dd {
	float: left;
	width: 563px;
}

.ft_cond .selected_area .selected li {
	float: left;
	word-break: break-all;
	display: inline-block;
	white-space: nowrap;
	padding: 0 5px 0 0;
	zoom: 1;
}

.ft_cond .selected_area .selected a {
	color: #333
}

.ft_cond .selected_area .selected a:hover {
	text-decoration: none
}

.ft_cond .selected_area .selected a i {
	background-position: -14px -100px;
	margin-right: 3px;
	width: 14px;
	height: 15px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

.ft_cond .selected_area .selected a:hover i {
	background-position: 0 -100px;
}

.ft_cond .selected_area .selected a {
	zoom: 1;
	font-weight: normal;
	font-size: 12px;
}

/* search_Conditions2 */
.catschoose {
	padding: 0 10px;
	border: 1px solid #c4d8ea;
	overflow: hidden
}

.catschoose h2 {
	height: 24px;
	border-bottom: 1px dashed #D3D3D3;
	line-height: 24px;
}

.catschoose ul {
	margin-bottom: -1px;
}

.catschoose ul li {
	*zoom: 1;
	vertical-align: top;
	margin-bottom: -1px;
}

.catschoose ul li:after {
	content: "";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.catschoose dl {
	*zoom: 1;
	border-bottom: 1px dotted #ccc;
	padding: 7px 0;
	line-height: 22px;
	color: #666666;
}

.catschoose dl:after {
	content: "";
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

.catschoose dl a {
	background-color: #fff;
	padding: 1px 2px;
	*font-family: "宋体";
}

.catschoose dl a:link,.catschoose dl a:visited {
	color: #085C9B;
}

.catschoose dl a:hover {
	color: #D4105A;
}

.catschoose a.current:link,.catschoose a.current:visited,.catschoose a.current:hover,.catschoose a.current:active
	{
	background-color: #3164AF;
	color: #fff;
	text-decoration: none;
}

.catschoose dl.others {
	border-bottom: 1px solid #c4d8ea;
}

.catschoose dl dt {
	float: left;
	width: 85px;
	padding-right: 9px;
	color: #000;
	text-align: right;
}

.catschoose dl dd {
	float: left;
	width: 630px;
	*padding-bottom: 5px
}

.catschoose dl dd #brandList {
	display: inline
}

.catschoose dl dd.first {
	float: left;
	width: 544px;
	margin-top: 
}

.catschoose dl dd dl {
	float: left;
	padding: 0;
	border-bottom: none;
}

.catschoose ul li dl.honerow {
	height: 22px;
	overflow: hidden;
}

.catschoose ul li dl.htworow {
	height: 43px;
	_height: 45px;
	overflow: hidden;
}

.catschoose dl dd dl dt,.catschoose dl dd dl dd {
	float: left;
	width: auto;
	height: 20px;
	padding-bottom: 3px;
	padding-right: 15px;
	font-weight: normal;
	white-space: nowrap;
}

.catschoose dl.end {
	border: none;
}

.catschoose ul.operation_area {
	margin-bottom: 0px;
}

.catschoose ul.operation_area .hidden {
	display: none;
}

.catschoose span.bod_mask {
	display: none;
}

/* search_Conditions3 */
.catschoose .xiala .list_top {
	overflow: hidden;
	zoom: 1;
	z-index: 2;
	position: relative
}

.catschoose .xiala .list_top li {
	float: left;
}

.catschoose .xiala .list_top li a {
	display: block;
	padding: 0 5px 0 5px;
	*font-family: "宋体"
}

.catschoose .xiala .list_top .current a {
	display: block;
	border: 1px solid #c4d8ea;
	border-bottom: none;
	padding: 0 8px
}

.catschoose .xiala .list_down,.catschoose .xiala .list_nor {
	overflow: hidden;
	zoom: 1;
	z-index: 1;
	border: 1px solid #c4d8ea;
	padding: 5px 5px
}

.catschoose .xiala .list_down li,.catschoose .xiala .list_nor li {
	float: left;
	word-break: break-all;
	display: inline-block;
	white-space: nowrap;
	margin-right: 20px;
	line-height: 16px;
	padding: 3px 0;
	font-family: Tahoma;
	height: 16px;
}

.catschoose .xiala .list_down li a,.catschoose .xiala .list_nor li a {
	padding: 0 5px 0 5px;
	display: inline-block;
	white-space: nowrap;
	line-height: 16px
}

.catschoose .xiala .list_top li a.current {
	font-weight: bold;
	padding: 0 2px;
	display: inline-block;
	height: 16px;
	line-height: 14px;
	*line-height: 18px
}

.catschoose .xiala .list_down li.current a {
	background: #EB8EAC;
	color: white
}

.catschoose .xiala .list_nor {
	border: none;
	padding-top: 2px
}

/* search_下拉按钮4 */
.wrap_close {
	border: 1px solid #c4d8ea;
	border-top: none;
	background: #fff;
	position: relative;
	padding: 1px;
}

.wrap_close p {
	border-bottom: 1px solid #e7f2fc;
}

.wrap_close p .btn_click {
	background-position: left top;
	color: #085C9B;
	position: absolute;
	top: 2px;
	left: 32%;
	width: 364px;
	height: 26px;
	text-align: center;
	line-height: 23px;
	overflow: hidden;
	_padding-top: 7px;
	_height: 22px;
}

.wrap_close p .btn_click:link,.wrap_close p .btn_click:hover {
	text-decoration: none;
	outline: none;
	color: #085C9B;
}

.wrap_close p .btn_click .m,.wrap_close p .btn_click:link .m,.wrap_close p .btn_click:hover .m
	{
	color: #AAAAAA;
}

.wrap_close p .btn_click b {
	background-position: -79px -34px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 9px;
	height: 5px;
	overflow: hidden;
}

.status_up p .btn_click b {
	background-position: -79px -29px;
}

/* select的修改 */
.operation_area select {
	margin-right: 5px;
	border: 1px solid #cdcdcd;
	width: 185px;
	vertical-align: middle;
}

.operation_area .btn_search {
	width: 51px;
	height: 23px;
	margin-left: 5px;
	line-height: 23px;
	background: url(../../front/images/btn_search.png) no-repeat;
	color: #FFF;
	border: none;
	padding: 0px 5px 3px 5px;
}

/* mod_排序方式_价格区间*/
.mod_price {
	height: 34px;
	border-top: 1px #CDCDCD solid;
	background-color: #F6F6F6;
}

.mod_price dl {
	margin-top: 10px;
}

.mod_price dl,.mod_price dt,.mod_price dd {
	float: left;
}

.mod_price dt {
	height: 17px;
	margin-left: 10px;
	color: #666;
	line-height: 17px;
}

.mod_price dd a:link,.mod_price dd a:visited,.mod_price dd a:hover,.mod_price dd a:active
	{
	display: block;
	float: left;
	height: 17px;
	margin-right: 3px;
	padding: 0 3px;
	line-height: 17px;
	color: #085C9A;
}

.mod_price dd a:hover {
	color: #B80000;
}

.mod_price dd .current:link,.mod_price dd .current:visited,.mod_price dd .current:hover,.mod_price dd .current:active
	{
	background-color: #085C9A;
	color: #fff;
	text-decoration: none;
}

.mod_price .split {
	float: left;
	overflow: hidden;
	width: 0px;
	height: 22px;
	margin: 6px 4px 0px 4px;
	border-left: 1px #D6D6D6 solid;
}

.mod_price .custom {
	float: left;
	position: relative; #
	z-index: 4;
	width: 138px;
	margin-top: 2px;
	color: #555;
}

.mod_price .custom .init {
	position: absolute;
	z-index: 6;
	width: 136px;
	height: 29px;
	padding-left: 1px;
}

.mod_price .custom span {
	overflow: hidden;
	display: block;
	float: left;
	height: 27px;
	padding: 0px 4px;
	line-height: 30px;
}

.mod_price .custom input {
	overflow: hidden;
	float: left;
	width: 38px;
	height: 21px;
	margin-top: 4px;
	padding: 0px 2px;
	line-height: 21px;
	_line-height: 23px;
	border: 1px #B4B4B4 solid;
	color: #828282;
	-moz-box-shadow: inset 2px 2px 0px #F3F3F3;
	-webkit-box-shadow: inset 2px 2px 0px #F3F3F3;
	-o-box-shadow: inset 2px 2px 0px #F3F3F3;
	box-shadow: inset 2px 2px 0px #F3F3F3;
	background-color: #fff;
}

.mod_price .custom .on {
	border: 1px #D29626 solid;
	-moz-box-shadow: 0px 0px 3px #D29626;
	-webkit-box-shadow: 0px 0px 3px #D29626;
	-o-box-shadow: 0px 0px 3px #D29626;
	box-shadow: 0px 0px 3px #D29626;
	background-color: #fff;
	color: #333;
}

.mod_price .custom .foused {
	display: none;
	position: absolute;
	z-index: 5;
	width: 136px;
	height: 60px;
	background-color: #fff;
	border: 1px #B4B4B4 solid;
}

.mod_price .custom .btn_strong,.mod_price .custom .btn_common {
	position: absolute;
	bottom: 5px;
	left: 86px;
	display: inline-block;
	width: 44px;
	padding: 0;
	text-align: center;
}

.mod_price .custom .btn_common {
	left: 15px;
	width: 42px;
	font-weight: bold;
}

.mod_price .today {
	float: right;
	display: inline;
	margin: 7px 10px 0px 0px;
	_margin-top: 10px;
}

.mod_price .today input {
	margin-right: 3px;
	_margin-top: -4px;
}

/* mod_排序方式1 */
.mod_order {
	position: relative;
	height: 20px;
	padding: 5px 10px 4px 9px;
	border: 1px solid #D7D7D7;
	background: #fff;
	text-align: left;
	z-index: 3
}

.mod_order .sortstyle {
	margin-right: 40px
}

.mod_order .orderlist {
	margin-right: 120px;
	*margin-right: 90px;
	z-index: 2;
}

.mod_order .orderlist .con_list {
	margin-left: 20px;
}

.mod_order .sortstyle strong,.mod_order .orderlist strong {
	font-weight: normal
}

.mod_order .viewmode b,.mod_order .orderlist .con_list a,.mod_order .orderlist .con_list a b,.mod_order .orderlist .con_secure a.title
	{
	background: url(../../front/images/bg_search_sort.png) no-repeat
}

/* 排序方式2 */
.mod_order .orderlist .con_list {
	*margin-left: 5px;
}

.mod_order .orderlist .con_list a,.mod_order .orderlist .con_secure a.title
	{
	display: inline-block;
	height: 17px;
	line-height: 17px;
	padding: 0 5px;
	border: 1px solid #cdcdcd;
	background-repeat: repeat-x;
	background-position: 0 -20px;
	_padding-top: 3px;
	_height: 13px;
	cursor: pointer
}

.mod_order .orderlist .con_list a:hover {
	text-decoration: none
}

.mod_order .orderlist .con_list a.status_up,.mod_order .orderlist .con_list a.status_down,.mod_order .orderlist .con_list a.order_up:hover,.mod_order .orderlist .con_list a.order_down:hover
	{
	border: 1px solid #ffd18b;
	background-position: 0 0;
	color: #333333;
}

.mod_order .orderlist .con_list .order_up,.mod_order .orderlist .con_list .order_down,.mod_order .orderlist .con_secure a.title
	{
	border: 1px solid #cdcdcd;
	background-position: 0 -20px;
	position: relative;
}

.mod_order .orderlist .con_list a b {
	display: inline-block;
	width: 11px;
	height: 11px;
	vertical-align: middle;
	margin: 0 3px 0 0
}

.mod_order .orderlist .con_list .order_up b {
	background-position: 0 -55px;
	margin-right: 3px
}

.mod_order .orderlist .con_list .order_down b {
	background-position: -24px -55px;
}

.mod_order .orderlist .con_list .status_up b {
	background-position: -12px -55px;
}

.mod_order .orderlist .con_list .status_down b {
	background-position: -36px -55px;
}

.mod_order .orderlist .con_secure {
	position: relative;
	z-index: 3;
	text-align: left;
	zoom: 1
}

.mod_order .orderlist .con_secure a.title {
	position: relative;
	width: 95px;
	padding-left: 0;
	padding-right: 0;
	text-indent: 4px;
	z-index: 1
}

.mod_order .orderlist .con_secure a.title b {
	position: absolute;
	right: 5px;
	top: 6px;
	width: 0;
	height: 0;
	border-width: 4px 4px;
	border-style: solid;
	border-color: #1f3d99 #f1f1f1 #f1f1f1 #f1f1f1;
	font-size: 0;
	line-height: 0;
	z-index: 3;
}

.mod_order .orderlist .con_secure .secure {
	background: #fff;
	width: 95px;
	display: none;
	position: absolute;
	top: 15px;
	left: 0;
	border: 1px solid #cdcdcd;
	border-top: none;
	padding-top: 3px;
	z-index: 2;
	*top: 18px;
	*left: 4px;
}

.mod_order .orderlist .con_secure .secure a {
	display: block;
	border-top: 1px dotted #cdcdcd;
	margin: 2px;
	padding: 3px 2px;
}

.mod_order .orderlist .status_on .secure {
	display: block;
}

.mod_order .orderlist .status_on a.title {
	background: #fff
}

.mod_order .orderlist .status_on a.title b {
	display: none
}

.mod_order .orderday input {
	vertical-align: middle;
	margin-right: 2px;
}

/* 列表方式 */
.mod_order .viewmode a {
	margin-right: 10px;
}

.mod_order .viewmode a b {
	background-position: -16px -40px;
	display: inline-block;
	width: 16px;
	height: 14px;
	vertical-align: middle;
	margin-right: 3px;
	cursor: pointer;
}

.mod_order .viewmode .icon_pic b {
	background-position: -48px -40px
}

.mod_order .viewmode .icon_list b {
	background-position: -16px -40px;
	cursor: pointer;
}

.mod_order .status_pic .icon_pic,.mod_order .status_list .icon_list {
	font-weight: bold;
}

.mod_order .status_pic .icon_pic b {
	background-position: -32px -40px;
	cursor: pointer;
}

.mod_order .status_list .icon_list b {
	background-position: 0 -40px
}

/* mod_商品列表 */
.list_goods .status_on .con_gifts .jian,.list_goods .wrap_gifts .icon_gifts,.list_goods .status .icon_sta
	{
	background: url(../../front/images/bg_goods.png) no-repeat
}

/* list_goods模块 */
.list_goods {
	text-align: left;
	padding-top: 15px;
	color: #666666;
	z-index: 1;
}

.list_goods .item_list {
	position: relative;
	border-bottom: 1px dotted #cccccc;
	margin-top: 15px;
	z-index: 1
}

.list_goods .link_pic {
	z-index: 1;
	position: relative
}

.list_goods .link_name a {
	font-weight: normal;
	font-size: 12px;
	word-wrap: break-word;
	word-break: normal;
}

.list_goods .hot {
	color: #D4105A;
	word-wrap: break-word;
	word-break: normal;
}

.list_goods .wrap_info .hot {
	height: 20px;
	_height: 18px;
	overflow: hidden;
}

.list_goods .wrap_btn {
	margin-top: 5px
}

.list_goods .wrap_btn a,.list_goods .wrap_btn a:hover {
	vertical-align: middle;
}

.list_goods .wrap_btn .bt_notice strong,.list_goods .wrap_btn .btn_strong strong
	{
	width: 83px;
	text-align: center
}

.list_goods .wrap_btn .btn_compare {
	color: #085C9B
}

.list_goods .wrap_btn .btn_compare,.list_goods .wrap_btn .btn_compare:hover
	{
	display: inline-block;
	height: 24px;
	padding-left: 10px;
}

.list_goods .comment a {
	zoom: 1;
	font-weight: normal;
	font-size: 12px;
}

.list_goods .comment a:link,.list_goods .comment a:visited {
	color: #085C9B;
}

.list_goods .comment a:hover {
	color: #D4105A;
}

.list_goods .wrap_gifts {
	position: absolute;
	width: 16px;
	height: 16px;
	z-index: 3;
}

.list_goods .wrap_gifts .icon_gifts {
	background-position: -69px 0;
	width: 16px;
	height: 20px;
	display: block;
	text-indent: -9999px
}

.list_goods .wrap_gifts .con_gifts {
	background: #f8fbfd;
	display: none;
	position: absolute;
	top: 25px;
	left: -5px;
	width: 214px;
	border: 2px solid #cfe1f1;
	padding: 3px 8px;
}

.list_goods .wrap_gifts .con_gifts .jian {
	background-position: -87px -14px;
	width: 14px;
	height: 8px;
	position: absolute;
	top: -8px;
	left: 5px;
	overflow: hidden;
}

.list_goods .wrap_status {
	*font-family: "SimSun"
}

.list_goods .wrap_gifts .title {
	font-size: 12px;
	margin-bottom: 3px;
}

.list_goods .wrap_gifts li {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 8px;
	position: relative;
}

.list_goods .wrap_gifts li a span {
	cursor: pointer
}

.list_goods .wrap_gifts li img {
	float: left;
	margin-right: 10px;
	border: 1px solid #cdcdcd;
	width: 60px;
	height: 60px
}

.list_goods .wrap_gifts .goods_name {
	width: 125px;
	height: 20px;
	overflow: hidden;
	display: block;
	margin-bottom: 3px;
	color: #333333;
	line-height: 18px;
}

.list_goods .wrap_gifts .goods_price {
	color: #666666
}

.list_goods .wrap_gifts .no {
	position: absolute;
	right: 0;
	top: 1px;
}

.list_goods .status_on {
	z-index: 2;
}

.list_goods .status_on .con_gifts {
	display: block;
}

.list_goods .status .icon_sta {
	background-position: -106px 1px;
	display: inline-block;
	width: 15px;
	height: 12px;
	vertical-align: middle;
	margin-right: 5px;
}

.list_goods .status_off .icon_sta {
	background-position: -87px 0;
}

.list_goods .wrap_attr { #
	z-index: 88;
	clear: both;
	position: absolute;
	top: 0;
	left: 15px;
	height: 16px;
	margin: 5px 0px 10px 0px;
}

.list_goods .wrap_attr .attr {
	position: relative;
	z-index: 3;
	float: left;
	display: inline;
	width: 16px;
	height: 16px;
	margin-right: 7px;
}

.list_goods .wrap_attr .attr p {
	overflow: hidden;
	width: 16px;
	height: 16px;
	line-height: 160px;
	text-align: center;
	cursor: default;
	background: url(../../front/images/detail_dot.png) no-repeat left top;
}

.list_goods .wrap_attr .attr .attr_zeng {
	background-position: left -26px;
}

.list_goods .wrap_attr .attr .attr_jian {
	background-position: -23px -26px;
}

.list_goods .wrap_attr .attr .attr_fen {
	background-position: -46px -26px;
}

.list_goods .wrap_attr .attr .attr_zhe {
	background-position: -69px -26px;
}

.list_goods .wrap_attr .attr .attr_quan {
	background-position: left -44px;
}

.list_goods .wrap_attr .attr .attr_huan {
	background-position: -23px -44px;
}

.list_goods .wrap_attr .attr .attr_wang {
	background-position: -46px -44px;
}

.list_goods .wrap_attr .attr .attr_hua {
	background-position: -69px -44px;
}

.list_goods .wrap_attr .con_gifts,.list_goods .wrap_attr .con_wang,.list_goods .wrap_attr .con_hua
	{
	position: absolute;
	top: 25px;
	left: -8px;
	width: 84px;
	padding: 3px 8px;
	border: 1px solid #A1C4EE;
	background-color: #E3EFFA;
	color: #333;
}

.list_goods .wrap_attr .con_gifts {
	width: 180px;
}

.more3c_1280 .list_goods .wrap_attr .con_gifts {
	width: 214px;
}

.list_goods .wrap_attr .con_gifts .jian {
	background: url(../../front/images/detail_dot.png) no-repeat -74px top;
	width: 11px;
	height: 6px;
	position: absolute;
	top: -6px;
	left: 10px;
	overflow: hidden;
}

.list_goods .wrap_attr .con_gifts .title {
	font-size: 12px;
	margin-bottom: 3px;
}

.list_goods .wrap_status {
	*font-family: "SimSun"
}

.list_goods .wrap_attr .title {
	font-size: 12px;
	margin-bottom: 3px;
}

.list_goods .wrap_attr li {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 8px;
	position: relative;
}

.list_goods .wrap_attr li a span {
	cursor: pointer
}

.list_goods .wrap_attr li img {
	float: left;
	margin-right: 10px;
	border: 1px solid #cdcdcd;
	width: 60px;
	height: 60px
}

.list_goods .wrap_attr .goods_name {
	width: 90px;
	height: 20px;
	overflow: hidden;
	display: block;
	margin-bottom: 3px;
	color: #333333;
	line-height: 18px;
}

.more3c_1280 .list_goods .wrap_attr .goods_name {
	width: 125px;
}

.list_goods .wrap_attr .goods_price {
	color: #666666
}

.list_goods .wrap_attr .no {
	position: absolute;
	right: 0;
	top: 1px;
}

/* 大图 S */
.id_pic .list_goods .item_list {
	width: 180px;
	height: 370px;
	float: left;
	padding: 0 9px 0 8px;
	line-height: 22px;
}

.more3c_1280 .id_pic .list_goods .item_list {
	height: 400px;
}

.id_pic .list_goods .wrap_status {
	overflow: hidden;
	white-space: nowrap;
	display: none;
}

.id_pic .list_goods .link_pic {
	display: block;
	width: 160px;
	height: 160px;
	padding: 10px 10px 15px 10px;
	line-height: 160px;
	text-align: center;
	margin: 0 auto; #
	font-size: 148px;
	overflow: hidden;
	z-index: 1;
}

.more3c_1280 .id_pic .list_goods .link_pic {
	width: 200px;
	height: 200px;
	padding: 10px 10px 15px 10px;
	line-height: 200px; #
	font-size: 185px;
}

.id_pic .list_goods .link_pic:hover { #
	text-decoration: none;
}

.id_pic .list_goods .link_pic img {
	display: inline-block;
	width: 160px;
	vertical-align: middle;
}

.more3c_1280 .id_pic .list_goods .link_pic img {
	width: 200px;
}

.id_pic .list_goods .link_name {
	height: 37px;
	overflow: hidden;
	line-height: 18px;
	width: 100%;
}

.id_pic .list_goods .wrap_gifts {
	position: absolute;
	top: 0;
	left: 15px;
}

.id_pic .list_goods .wrap_gifts span.loading_82_21 {
	height: 80px;
}

/* 列表 S */
.id_list .list_goods .link_name {
	height: 18px;
	overflow: hidden;
}

.id_list .list_goods .link_pic {
	float: left;
	margin: 4px 10px 12px 10px;
	height: 80px;
	width: 80px;
	line-height: 80px;
	text-align: center;
	overflow: hidden;
}

.id_list .list_goods .link_pic img {
	max-width: 80px;
	_width: 80px;
	vertical-align: middle;
	display: inline-block;
}

.id_list .list_goods .wrap_info {
	width: 402px;
	float: left;
	margin-right: 22px
}

.id_list .list_goods .wrap_status {
	width: 108px;
	float: left;
	margin-right: 10px
}

.id_list .list_goods .wrap_price {
	width: 140px;
	float: left;
	margin-right: 10px
}

.id_list .list_goods .wrap_btn {
	width: 110px;
	float: left;
	text-align: right
}

.id_list .list_goods .wrap_btn .bt_nor {
	margin-top: 10px
}

/*.id_list .list_goods .comment{ position:absolute; top:40px; left:100px;}*/
.id_list .list_goods .comment {
	_vertical-align: middle;
	_font-family: tahoma
}

.id_list .list_goods .comment .icon_star {
	_vertical-align: top
}

.id_list .list_goods .wrap_gifts {
	position: absolute;
	top: 66px;
	left: 100px;
}

.id_list .list_goods .wrap_btn .btn_compare,.id_list .list_goods .wrap_btn .btn_compare:hover
	{
	padding: 5px 18px;
}

/* 无结果 S */
/*.mod_rusult{ background:#fff4e2; border:1px solid #efc787; padding:24px 10px; margin-bottom:10px; }
.mod_rusult .tips{ color:#333; text-align:center; font-size:14px; font-weight:bold;}
.mod_rusult .tips strong{ color:#ff9900}*/
.content .para_warn {
	text-align: center;
}

.content .para_warn .tit strong {
	color: #D4105A;
}

.content .para_warn .icon_msg3 {
	background: none;
}

.content .para_warn .inner {
	padding: 20px 10px;
}

/* S_gifts */
.crumbs {
	clear: both;
	margin: 10px 0;
	font-family: Simsun;
}

.crumbs a {
	color: #085C9B;
}

.wrap_pic {
	clear: both;
	margin-bottom: 10px;
}

.gifts .ft_cond {
	display: none
}

.gifts .mod_blue .inner .hd,.gifts .mod_blue .tl,.gifts .mod_blue .tr {
	background: url(../../front/images/bg_gifts.png) no-repeat;
}

.gifts .mod_blue .inner .hd {
	background-position: 0 0;
	background-repeat: repeat-x;
}

.gifts .mod_blue .inner .hd .icon_gifts {
	background: url(../../front/images/bg_gifts_page.png) no-repeat 0 -221px;
	width: 59px;
	height: 41px;
	position: absolute;
	top: -9px;
	left: 10px;
}

.gifts .mod_blue .tl {
	background-position: 0 -74px;
}

.gifts .mod_blue .tr {
	background-position: -4px -74px;
}

.gifts .mod_blue .inner .bd {
	border-color: #ff6c9d
}

.gifts .sort_product a:link,.gifts .sort_product a:visited {
	color: #dd5884
}

.gifts .sort_product a:hover {
	color: #333333
}

.gifts .sort_product .tit {
	background: #ffedf3;
	color: #dd5884;
	font-size: 14px;
	padding-left: 8px;
}

.gifts .sort_product .con .list_sort dd a {
	padding-left: 20px;
}

.gifts .sort_product .con .list_sort dd a:hover {
	display: inline-block;
	margin: 0;
	padding: 2px 12px 3px 12px;
}

.gifts .sort_product .con .list_sort dd a.status_on {
	background: #f96092;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	margin: 0;
	padding: 2px 12px 3px 12px;
}

.gifts .other_product .inner .hd {
	padding-left: 80px;
}

.gifts .wrap_hotsell .list_goods li {
	background: #fff4f4;
}

.sort_product .link_more a:hover {
	background: none
}

.pic_tuiguan {
	margin-bottom: 10px;
}

.wrap_hotsell {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 10px;
}

.wrap_hotsell .list_goods {
	padding: 0
}

.wrap_hotsell .list_goods li {
	background: #f3f8fc;
	float: left;
	width: 378px;
}

.wrap_hotsell .list_goods li.li_mar {
	margin-right: 9px;
}

.wrap_hotsell .list_goods .link_pic {
	background: #fff;
	width: 120px;
	height: 120px;
	float: left;
	margin: 15px;
	border: 1px solid #cfcecf;
	position: relative
}

.wrap_hotsell .list_goods .link_pic img {
	position: relative;
	top: 13px;
}

.wrap_hotsell .list_goods .wrap_info {
	margin-right: 10px;
}

.wrap_hotsell .list_goods .link_name {
	margin-top: 15px;
	height: 55px;
	overflow: hidden
}

.wrap_hotsell .list_goods .wrap_info .hot {
	height: 37px
}

.wrap_hotsell .list_goods .icon_hotsell {
	background: url(../../front/images/bg_gifts.png) no-repeat -40px -35px;
	width: 47px;
	height: 47px;
	position: absolute;
	top: -1px;
	left: -1px;
}

/* 其他人都在买什么礼品 */
.other_product {
	margin-bottom: 0;
	padding-top: 10px;
}

.other_product .inner .hd {
	position: relative
}

.other_product .bd {
	position: relative;
	overflow: hidden;
	zoom: 1
}

.other_product .wrap_list {
	width: 830px;
	height: 235px;
	margin-left: 60px;
	overflow: hidden;
	zoom: 1;
	position: relative
}

.other_product .btn_prev,.other_product .btn_next {
	background: url(../../front/images/bg_gifts_page.png) no-repeat 0 0;
	width: 37px;
	height: 210px;
	position: absolute;
	top: 5px;
	text-indent: -9999px;
	outline: none
}

.other_product .btn_prev {
	left: 10px
}

.other_product .btn_next {
	background-position: -37px 0;
	right: 10px;
}

.other_product .id_pic .list_goods {
	width: 10000px;
	position: absolute
}

.other_product .id_pic .list_goods li {
	height: auto;
	border: none;
	padding: 0 27px 0 20px
}

.other_product .id_pic .list_goods .link_pic {
	width: 120px;
	height: 120px;
	border: 1px solid #cfcfcf;
	margin-bottom: 8px;
}

/* 模块_其他信息 S */
.mod_aider {
	background: #f3f3f3;
	border: 1px solid #d7d7d7;
	zoom: 1;
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
}

.mod_aider .hd {
	padding: 8px 0 7px 10px;
	zoom: 1;
}

.mod_aider .hd h3 {
	font-size: 14px;
}

.mod_aider .hd span {
	display: block;
	width: 145px;
	height: 18px;
	font-size: 14px;
	color: #000000;
}

.mod_aider .bd {
	zoom: 1
}

.mod_aider .clear_jilu {
	padding: 10px;
}

/* 团购模块 S */
.id_group {
	background: #FFFFFF;
}

.id_group .hd span {
	display: inline;
	font-size: 12px;
	color: #616161;
	font-weight: normal;
}

.id_group .hd h3 span {
	padding-left: 1px;
}

.id_group .hd .time {
	width: 163px;
	height: 28px;
	margin: 6px 0 3px;
	line-height: 28px;
	background: #efefef;
	font-size: 12px;
	position: relative;
	text-align: center;
}

.id_group .hd .time .btn_left,.id_group .hd .time .btn_right {
	position: absolute;
	width: 5px;
	height: 28px;
	background-image: url(../../front/images/group_bg.png);
	background-repeat: no-repeat;
	overflow: hidden;
	zoom: 1;
}

.id_group .hd .time .btn_left {
	top: 0;
	left: 0;
	background-position: -18px -77px;
}

.id_group .hd .time .btn_right {
	background-position: -22px -77px;
	right: 0px;
	_right: -1px;
	top: 0px;
}

.id_group .hd .time span {
	color: #b80000;
	font: bold 16px/18px Arial;
	padding: 0 2px;
}

.id_group .bd {
	padding: 0 10px;
}

.id_group .list li {
	padding-bottom: 20px;
}

.id_group .list li p {
	padding-top: 5px;
}

.id_group .list .img_wrap {
	display: block;
	width: 160px;
	height: 160px;
	line-height: 160px;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-decoration: none;
}

.id_group .list .img_wrap img {
	display: inline-block;
	width: 160px;
	vertical-align: middle;
}

.id_group .list .img_wrap .group {
	font-weight: bold;
}

.id_group .list .name {
	width: 163px;
	height: 36px;
	overflow: hidden;
}

.id_group .i_price {
	font-size: 14px;
	font-weight: bold;
	color: #b80000;
	margin-right: 5px;
}

.id_group .price_wrap del {
	font-family: Arial;
}

.id_group .buyed .nu {
	color: #616161;
	font-size: 14px;
	font-weight: bold;
}

.id_group .list li .btn_wrap {
	padding-top: 7px;
}

.id_group a.btn_sold_out {
	width: 52px;
	background-image: url("../../images/header/home_bg.png");
	background-repeat: repeat-x;
	background-position: 0 -200px;
	display: inline-block;
	font: bold 12px/25px Arial;
	height: 25px;
	overflow: hidden;
	padding: 0 12px;
	position: relative;
	color: #FFF;
	text-decoration: none;
	text-align: center;
}

.id_group a.btn_sold_out i {
	background-image: url("../../images/header/header_full.png");
	background-repeat: no-repeat;
}

.id_group a.btn_sold_out .bod_left {
	background-position: -170px -50px;
	height: 25px;
	left: 0;
	position: absolute;
	top: 0;
	width: 5px;
}

.id_group a.btn_sold_out .bod_right {
	background-position: -175px -50px;
	height: 25px;
	position: absolute;
	right: 0;
	top: 0;
	width: 5px;
}

.id_group a.btn_buy {
	display: block;
	width: 76px;
	height: 25px;
	background: url(../../front/images/group_bg.png) no-repeat 0 0;
	text-align: center;
	color: #FFFFFF;
	font: bold 12px/25px Arial;
	text-decoration: none;
	cursor: pointer;
}

.id_group a.btn_buy:hover {
	background-position: 0 -25px;
	cursor: pointer;
}

.id_group .list li .want {
	padding-top: 7px;
	_padding-top: 3px;
	color: #8b8b8b;
}

.id_group .list li .want i {
	zoom: 1;
	padding: 0 7px 0 8px;
	display: inline-block;
	height: 15px;
	line-height: 15px;
	margin-right: 5px;
	background: url(../../front/images/group_bg.png) no-repeat 0 -76px;
	position: relative;
	top: 3px;
	*top: 0;
}

.id_group .list li.wanted .want i {
	background-position: 0 -91px;
}

.id_group .wanted .btn_buy {
	background-position: 0 -50px;
}

.id_group .list li.wanted a.btn_buy:hover {
	background-position: 0 -50px;
}

/* list_goods模块 S */
.list_goods {
	text-align: left;
	padding-top: 0px;
	color: #666666;
	z-index: 1;
}

.list_goods .link_info {
	word-wrap: break-word;
	word-break: normal;
}

.list_goods .name,.list_goods .price {
	display: block;
	font-weight: normal
}

.list_goods .name {
	cursor: pointer;
}

.list_goods a:hover span {
	cursor: pointer;
	text-decoration: underline;
}

.list_goods a:hover .price {
	color: #CD0000
}

.list_goods li .img {
	width: 60px;
	height: 60px;
	border: 1px solid #cdcdcd;
	display: block;
	margin-right: 5px;
	overflow: hidden;
	line-height: 60px; #
	font-size: 52px;
	text-align: center;
	background: #FFF;
	zoom: 1;
}

.list_goods li .img img {
	display: inline-block;
	width: 60px;
	vertical-align: middle;
}

/* list_goods图片局左 S */
.list_pic_left li {
	overflow: hidden;
	zoom: 1;
	margin-bottom: 10px;
}

.list_pic_left li .img {
	float: left;
	border: 1px solid #cdcdcd;
	display: inline;
}

.list_pic_left .link_info {
	width: 75px;
	float: left;
}

.list_pic_left .link_info .name {
	width: 75px;
	height: 56px;
	overflow: hidden;
}

/* 同价 S */
.id_sameprice .list_pic_left {
	padding-top: 10px;
}

.id_sameprice .list_pic_left li {
	position: relative;
	margin-bottom: 8px;
	padding-left: 10px;
}

.id_sameprice .list_pic_left .top .aid {
	background: url(../../front/images/detail_bg.png) no-repeat -45px -40px;
	color: white
}

.id_sameprice .list_pic_left .aid {
	background: url(../../front/images/detail_bg.png) no-repeat -30px -40px;
	position: absolute;
	top: 1px;
	left: 11px;
	width: 13px;
	height: 13px;
	color: #666;
	font-size: 9px;
	line-height: 13px;
	text-align: center;
}

.id_sameprice .list_pic_left li .img {
	margin-right: 10px;
}

.id_sameprice .list_pic_left .link_info,.id_sameprice .list_pic_left .link_info .name
	{
	width: 91px;
}

/* 最近浏览过 S */
/* 最近浏览过 S */
.id_saw .list_pic_left {
	padding: 10px 0 0 10px;
}

.id_saw .list_pic_left .link_info,.id_saw .list_pic_left .link_info .name
	{
	width: 100px;
}

.mod_blue .list_goods .list_pic_left .link_info {
	height: 19px;
}

/* 手机号码 S */
.table_nor {
	border-left: 1px solid #ccc;
	border-top: 2px solid #ccc;
	margin-bottom: 10px;
}

.table_nor td {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 3px 5px
}

/* 热门关键词 */
.id_hotkey .bd {
	padding: 0px 10px 10px;
}

.id_hotkey .bd li {
	padding-top: 5px;
	width: 163px;
	height: 23px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: keep-all;
	white-space: nowrap;
}

.id_hotkey .bd li a {
	font-family: Arial;
}

.id_hotkey .bd li span {
	color: #D4105A;
	font-weight: 700;
	padding-right: 5px;
	font-family: "\5FAE\8F6F\96C5\9ED1";
}

.id_hotkey .bd li a:hover {
	text-decoration: none;
}

/* 分页 */
.page_wrap {
	margin-top: 15px;
}

/* 1280 以上宽屏 */
.more3c_1280 .content {
	width: 1030px;
}

.more3c_1280 .catschoose dl dd {
	width: 895px;
}

.more3c_1280 .catschoose dl dd dl dt,.more3c_1280 .catschoose dl dd dl dd {
	width: auto;
}

.more3c_1280 .mod_order .orderlist {
	margin-right: 387px;
}

.more3c_1280 .id_list .list_goods .wrap_info {
	width: 640px;
}

.more3c_1280 .id_pic .list_goods .item_list {
	width: 227px;
	padding: 0 15px;
}

/* 商品对比 */
.pop_goods_compare {
	width: 271px;
}

.pop_goods_compare .tip {
	clear: both;
	width: 236px;
	margin: 10px 0px 0px 9px;
}

.pop_goods_compare .tip .num {
	color: #bb0000;
}

.pop_goods_compare .goods_list {
	width: 251px;
	margin: 0 auto;
}

.pop_goods_compare .goods_list .item {
	overflow: hidden;
	_zoom: 1;
	padding: 10px 0px;
	border-bottom: 1px #DCDCDC solid;
}

.pop_goods_compare .goods_list .item .goods_name,.pop_goods_compare .goods_list .item .goods_name:hover
	{
	display: block;
	float: left;
	width: 195px;
}

.pop_goods_compare .goods_list .item .act_del,.pop_goods_compare .goods_list .item .act_del:hover,.pop_goods_compare .goods_list .item .now
	{
	display: block;
	float: right;
	width: 50px;
	text-align: right;
	color: #085B9A;
}

.pop_goods_compare .goods_list .item .act_del:hover {
	color: #D4105A;
}

.pop_goods_compare .goods_list .item .now {
	color: #999;
}

.pop_goods_compare .act {
	overflow: hidden;
	height: 24px;
	padding: 10px 0px;
	text-align: center;
}

.pop_goods_compare .act .btn_clear,.pop_goods_compare .act .btn_clear:hover
	{
	overflow: hidden;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	_line-height: 25px;
	padding-left: 10px;
}

.pop_goods_compare .nogoods {
	padding: 10px 0px;
	text-align: center;
}

/** 二级栏目频道导航 **/
.mod_sc {
	background-color: #F3F3F3;
	zoom: 1;
	margin-bottom: 10px;
	position: relative;
	clear: both;
	border: 1px solid #D7D7D7;
}

.mod_sc .inner .hd {
	overflow: hidden;
	padding: 10px 0 10px 0px;
	position: relative; #
	zoom: 1;
	border-bottom: 1px solid #CDCDCD;
}

.mod_sc .inner .hd span,.mod_sc .inner .hd a,.mod_sc .inner .hd a:link,.mod_sc .inner .hd a:visited,.mod_sc .inner .hd a:hover
	{
	display: block;
	height: 14px;
	padding-left: 15px;
	overflow: hidden;
	line-height: 14px; #
	line-height: 16px;
	font-size: 14px;
	color: #555;
}

.mod_sc .inner .list_sort li {
	overflow: hidden;
	height: 28px;
	line-height: 28px;
	_line-height: 30px;
	padding-left: 20px;
}

.mod_sc .inner .list_sort a,.mod_sc .inner .list_sort a:link,.mod_sc .inner .list_sort a:visited
	{
	color: #085C9B
}

.mod_sc .inner .list_sort a:hover {
	color: #B80000;
}

.mod_tc .inner .hd a,.mod_tc .inner .hd a:link,.mod_tc .inner .hd a:visited,.mod_tc .inner .hd a:hover
	{
	float: left;
	color: #085C9B;
	background: url(../../front/images/bg_nav.png) no-repeat left -48px;
}

.mod_tc .inner .list_sort .current {
	background-color: #3165B0;
	color: #fff;
}

.mod_tc .inner .list_sort .current a,.mod_tc .inner .list_sort .current a:link,.mod_tc .inner .list_sort .current a:visited,.mod_tc .inner .list_sort .current a:hover
	{
	color: #fff;
}

/** 搜索栏目导航 **/
.mod_search .inner .hd {
	background-image: none;
}

.mod_search .list_sort {
	border-bottom: 1px #D7D7D7 dotted;
}

.mod_search .list_sort .tit {
	overflow: hidden;
	height: 28px;
	padding-left: 15px;
	line-height: 28px;
	_line-height: 30px;
	font-weight: normal;
	font-size: 14px;
}

.mod_search .list_sort .more {
	overflow: hidden; #
	zoom: 1;
	padding: 0px 0px 10px 20px;
}

.mod_search .list_sort .more a,.mod_search .list_sort .more a:link,.mod_search .act_cate .slidedown,.mod_search .act_cate .slidedown:link,.mod_search .list_sort .more a:hover,.mod_search .list_sort .more a:visited,.mod_search .act_cate .slidedown:hover,.mod_search .act_cate .slidedown:visited
	{
	display: block;
	float: left;
	padding-left: 15px;
	color: #555;
	background: url(../../front/images/bg_nav.png) no-repeat left 7px;
}

.mod_search .act_cate {
	overflow: hidden;
	height: 28px;
	margin-top: -1px;
	padding-left: 20px;
	line-height: 28px;
	_line-height: 30px;
	background-color: #D7D7D7;
}

.mod_search .act_cate .slidedown,.mod_search .act_cate .slidedown:link,.mod_search .act_cate .slidedown:hover,.mod_search .act_cate .slidedown:visited
	{
	background-position: left 11px;
}

.mod_search .act_cate .slideup,.mod_search .act_cate .slideup:link,.mod_search .act_cate .slideup:hover,.mod_search .act_cate .slideup:visited
	{
	background-position: left -14px;
}

.mod_search .list_sort_slideup {
	border-bottom: none;
}

.mod_search .list_sort_slideup ul,.mod_search .list_sort_slideup p {
	display: none;
}

.mod_search .bd .no_cate {
	overflow: hidden;
	height: 28px;
	line-height: 28px;
	_line-height: 30px;
	padding-left: 15px;
}

/** 搜索结果优化 **/
.result_box {
	color: #555;
	border-bottom: 1px #D4D4D4 solid;
}

.result_box .color_red {
	color: #B80000;
}

.result_relate dt {
	padding: 5px 0px 0px 0px;
	font-size: 14px;
	font-weight: bold;
}

.result_relate dd {
	padding: 10px 0px 12px 0px;
}

.result_relate dd a,.result_relate dd a:link {
	margin-right: 18px;
	color: #085C9B
}

.result_tip {
	border: 1px #E7D3B8 solid;
	background-color: #FFFFE3;
}

.result_tip .no_result {
	overflow: hidden;
	height: 45px;
	text-align: center;
}

.result_tip .no_result .color_gray {
	font-style: normal;
	color: #616161;
}

.result_tip .no_result .txt {
	display: inline-block;
	padding-left: 22px;
	line-height: 45px;
	_line-height: 47px;
	font-size: 14px;
	font-weight: bold;
	color: #B80000;
	background: url(../../front/images/bg_nav.png) no-repeat left -77px;
}

.result_guess {
	font-size: 14px;
}

.result_guess dt {
	padding-top: 13px;
	font-weight: bold;
}

.result_guess dd {
	padding: 6px 0px 8px 0px;
}

.result_guess dd a,.result_guess dd a:link {
	margin-left: 15px;
	color: #085C9B;
}

.result_guess_single dd {
	padding-top: 13px;
}

.result_suggest {
	padding: 13px 0px;
	font-size: 14px;
	font-weight: bold;
}

.result_tip .result_add {
	width: 370px;
	margin: 0 auto;
	color: #616161;
}

.result_tip .result_add .suggest_txt dt,.result_tip .result_add .more .tit
	{
	padding-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
}

.result_tip .result_add .suggest_txt dd {
	overflow: hidden;
	float: left;
	padding-bottom: 10px;
	line-height: 22px;
}

.result_tip .result_add .more {
	overflow: hidden; #
	zoom: 1;
	padding-bottom: 8px;
}

.result_tip .result_add .more li {
	float: left;
	width: 160px;
	margin-bottom: 4px;
	padding-left: 8px;
	background: url(../../front/images/bg_nav.png) no-repeat -14px -128px;
}

.result_tip .result_add .more li a,.result_tip .result_add .more li a:link,.result_tip .explorer_more a,.result_tip .explorer_more a:link
	{
	color: #085C9B;
}

.result_tip .result_add .search_box {
	clear: both;
	padding-bottom: 13px;
}

.result_tip .result_add .search_box legend span {
	display: none;
}

.result_tip .result_add .search_box .mod_search_txt {
	float: left;
	width: 288px;
	height: 22px;
	margin-right: 8px;
	_margin-right: 5px;
	padding: 0px 5px;
	line-height: 22px;
	border: 1px #9A9A9A solid;
	background-color: #fff;
}

.result_tip .result_add .search_box .no_cur {
	color: #ccc;
}

.result_tip .result_add .search_box .mod_search_bt {
	background: #3164B0; /* old browsers */
	background: -moz-linear-gradient(center top, #2272D0 0%, #2A6BC2 50%, #3164B0 100%);
	/* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2272D0),
		color-stop(50%, #2A6BC2), color-stop(100%, #3164B0) ); /* webkit */
	filter: progid : DXImageTransform.Microsoft.gradient (   startColorstr =
		'#2272D0', endColorstr = '#3164B0', GradientType = 0 ); /* ie */
	width: 61px;
	height: 24px;
	line-height: 24px;
	border: none;
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.result_tip .explorer_more {
	margin-top: -4px;
	padding: 0px 0px 12px 0px;
	text-align: center;
}

/** 上海列表页顶部商品推荐 **/
.list_topcommend {
	overflow: hidden; #
	position: relative;
	height: 170px;
	margin-bottom: 10px;
	padding: 0px 10px;
	border: 1px #C4D8EA solid;
}

.list_topcommend .tit {
	font-size: 14px;
	padding-top: 9px;
	color: #3164af;
}

.list_topcommend .item {
	float: left;
	width: 384px;
	height: 150px;
}

.more3c_1280 .list_topcommend .item {
	width: 336px;
}

.list_topcommend .item .litpic {
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 10px;
}

.list_topcommend .item .litpic .img_wrap {
	display: block;
	width: 120px;
	height: 120px;
	text-align: center;
	position: relative;
	zoom: 1;
	line-height: 120px; #
	font-size: 112px;
	overflow: hidden;
}

.list_topcommend .item .litpic .img_wrap img {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
}

.list_topcommend .item .info {
	position: relative;
	overflow: hidden; #
	zoom: 1;
	padding: 0 5px;
}

.list_topcommend .item .info .name {
	width: 100%;
	height: 36px;
	overflow: hidden;
}

.list_topcommend .item .info .hot {
	width: 190px;
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.list_topcommend .item .info .price_wrap {
	color: #AAAAAA;
	height: 19px;
	padding: 3px 0px 6px 0px;
	font-family: Arial
}

.list_topcommend .item .info .price_wrap .price_now {
	color: #B80000;
	font-size: 14px;
	font-weight: bold;
	margin-right: 5px;
}

.list_topcommend .item .info .comment {
	padding-bottom: 3px;
	_font-family: Tahoma;
}

.list_topcommend .item .info .comment .icon_star {
	_margin-top: -1px;
}

.list_topcommend .item .info .comment a:link,.list_topcommend .item .info .comment a:visited
	{
	color: #085C9B;
}

/*错误页面*/
.id_error_page .para_warn .inner .bd .todo_link {
	padding-right: 5px;
}

/* 404page */
.more3c_1280 .id_error_page .id_pic .list_goods .item_list {
	width: 215px;
}

/* 商品打标 */
.mark_renqi,.mark_xinpin,.mark_zhekou,.mark_xianshi,.mark_jinkou,.mark_dujia,.mark_tuangou
	{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	font: 700 16px/50px "\5FAE\8F6F\96C5\9ED1", Arial;
	color: #FFF;
	text-align: center;
	background: url(../../front/images/icons.png?v=2011120801) no-repeat;
	_background: none;
	_background-position: 0px 0px;
	_filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
		'../../front/images/icons.png?v=20120307',
		sizingMethod = 'scale' );
	_width: 352px;
	_padding-left: 10px;
	_text-align: left;
}

.mark_renqi {
	background-position: -104px top;
	_background-position: 0px 0px;
	_width: 250px;
	_padding-left: 112px;
	_right: -208px;
	_clip: rect(0px, 154px, 154px, 104px);
}

.mark_zhekou {
	background-position: -156px top;
	_background-position: 0px 0px;
	_width: 196px;
	_padding-left: 166px;
	_right: -156px;
	_clip: rect(0px, 206px, 206px, 156px);
}

.mark_xinpin {
	background-position: -208px top;
	_background-position: 0px 0px;
	_width: 146px;
	_padding-left: 216px;
	_right: -104px;
	_clip: rect(0px, 258px, 258px, 208px);
}

.mark_xianshi {
	_right: -312px;
	_clip: rect(0px, 50px, 50px, 0px);
}

.mark_jinkou {
	background-position: -52px top;
	_background-position: 0px 0px;
	_width: 300px;
	_padding-left: 62px;
	_right: -260px;
	_clip: rect(0px, 102px, 102px, 52px);
}

.mark_dujia {
	background-position: -312px top;
	_background-position: 0px 0px;
	_width: 42px;
	_padding-left: 320px;
	_right: 0px;
	_clip: rect(0px, 362px, 362px, 312px);
}

.mark_tuangou {
	background-position: -260px top;
	font: normal 12px/50px "微软雅黑", Arial;
	_background: none;
	_background-position: 0px 0px;
	_width: 94px;
	_padding-left: 268px;
	_right: -52px;
	_clip: rect(0px, 310px, 310px, 260px);
}

.mark_tuangou span {
	font: normal 30px/50px Arial;
}

.id_pic .list_goods .link_pic:hover .mark_tuangou span {
	text-decoration: none;
}

.mark_zhounian {
	position: absolute;
	top: 3px;
	right: 0;
	display: block;
	width: 69px;
	height: 46px;
	cursor: pointer;
	background: url(../../front/images/superscript_6year.png) no-repeat 0
		0;
	_background: none;
	_background-position: 0px 0px;
	_filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
		'../../front/images/superscript_6year.png',
		sizingMethod = 'scale' );
	line-height: 46px;
	font-size: 0;
}

/** QQ网购 **/
.mod_qqbuy {
	clear: both;
	overflow: hidden;
	margin-bottom: 100px;
	padding: 20px 0;
}

.mod_qqbuy .hd {
	height: 30px;
	padding: 0 10px;
	line-height: 30px;
	background-color: #EBEBEB;
}

.mod_qqbuy .hd p {
	float: left;
	font-size: 14px;
	font-weight: bold;
}

.mod_qqbuy .hd .slogan {
	margin-left: 30px;
	font-weight: normal;
	font-size: 12px;
}

.mod_qqbuy .hd .more {
	float: right;
	color: #3165B0;
}

.mod_qqbuy .hd .dot_qqbuy {
	vertical-align: text-bottom;
	display: inline-block;
	width: 70px;
	height: 16px;
	margin: 0 3px;
	_margin-top: 8px;
	background: url(../../front/images/search_mod_qqbuy.png) no-repeat left -27px; #
	background-position: left -29px;
}

.mod_qqbuy .bd {
	overflow: hidden;
	width: 789px;
	height: 286px;
	border-right: 1px #D9D9D9 solid;
}

.more3c_1280 .mod_qqbuy .bd {
	width: 1029px;
	height: 294px;
}

.mod_qqbuy .bd ul {
	width: 800px;
}

.more3c_1280 .mod_qqbuy .bd ul {
	width: 1129px;
}

.mod_qqbuy .bd li {
	float: left;
	_overflow: hidden;
	width: 160px;
	padding: 19px;
	border: 1px #D9D9D9 solid;
	border-right: none;
	border-top: none;
}

.more3c_1280 .mod_qqbuy .bd li {
	padding: 23px;
}

.mod_qqbuy .bd .img_wrap {
	display: block;
	float: left;
	width: 160px;
	height: 160px;
	line-height: 160px;
	text-align: center; #
	font-size: 120px;
}

.mod_qqbuy .bd .img_wrap img {
	vertical-align: middle;
}

.mod_qqbuy .bd .price {
	overflow: hidden;
	clear: both;
	height: 16px;
	margin-bottom: 3px;
	padding-top: 7px;
	line-height: 16px;
}

.mod_qqbuy .bd .price_now {
	float: left;
	padding-right: 3px;
	font-size: 15px;
	color: #D70000;
	font-family: Arial;
	font-weight: 700;
}

.mod_qqbuy .bd .name {
	overflow: hidden;
	width: 100%;
	height: 36px;
	padding-top: 2px;
}

.mod_qqbuy .bd .rank_row {
	zoom: 1;
	overflow: hidden;
	clear: both;
	width: 172px;
	margin-top: 0px;
	line-height: 23px;
}

.mod_qqbuy .bd .rank_row .rank_wrap_small {
	float: left;
	position: relative;
	width: 63px;
	height: 11px;
	margin-right: 5px;
	_margin-right: 1px;
	margin-top: 5px;
}

.mod_qqbuy .bd .rank_row .rank_bg,.mod_qqbuy .bd .rank_row .rank_inner {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 63px;
	height: 11px;
	overflow: hidden;
	background: url(../../front/images/search_mod_qqbuy.png) no-repeat left -14px;
}

.mod_qqbuy .bd .rank_row .rank_inner {
	background: url(../../front/images/search_mod_qqbuy.png) no-repeat left top;
}